<img src="Figures/top_ML.png" alt="Drawing" style="width: 1000px;"/>

# Introducci칩n a Python

### CONTENIDOS
1. Introducci칩n a Jupyter Notebooks 
2. Variables y estructuras de datos 
3. Estructuras condicionales 
4. Listas y loops 
5. Diccionarios y tablas de frecuencia
6. Funciones 
7. Funciones avanzadas 
8. Lenguaje orientado a objetos 
9. Introducci칩n a NumPy 
10. Introducci칩n a Pandas
11. Creaci칩n de gr치ficos y visualizaci칩n

## 1. Introducci칩n a Jupyter Notebooks

<img src="Figures/Jupyter.png" alt="Drawing" style="width: 200px;"/>

Jupyter notebooks es un entorno (IDE) que nos permite intercalar contenido de texto (se llamar치 cela 'Markdown') con c칩digo Python (tipo de cela 'Code') que se puede ejecutar cela por cela como se puede ver en los siguientes ejemplos. 

Los comando b치sicos para poder seguir este curso y empezar a usar Jupyter Notebooks son:

<img src="Figures/menu.png" alt="Drawing" style="width: 500px;"/>

* `Shift+Enter`: Ejecutar cela y seleccionar siguiente cela
* `Alt+Enter`: Ejecutar cela y insertar una cela nueva
* `ESC`: para entrar en modo 'command'. Una vez en este modo:
    * `H` lista de comandos
    * `A` insertar cela debajo
    * `B` insterar cela arriba
    * `D,D` D dos veces eleimina la cela
    * `Y` cambiar cela a tipo 'Code'
    * `M` cambiar cela a 'Markdown'
    * `Enter`pasar a modo edit

#### Ejecutar la cela de debajo usando alguno de los comandos aprendidos

In [ ]:
3 + 4 + 9

In [ ]:
# Ejemplo de c칩digo en Python
# Cambiar los valores de a y b, y observar el resultado al ejecutar la cela 

a=87
b=34
c=a+b

print('El resultado de sumar {} y {} es {}.'.format(a,b,c))

## 2. Variables y estructuras de datos

Las variables en Python se crean cuando se definen por primera vez, es decir, cuando se les asigna un valor por primera vez (utilizando el operador <code> = </code>). Por esta raz칩n, en Python no hace falta declarar las variables. 

Los principales tipos de variables que se pueden encontrar son:
* **Num칠ricas**
    * **Integer (int):** N칰meros naturales positivos y negativos.
    * **Float:** N칰meros reales.
    * **Complex:** N칰meros complejos. La parte imaginaria se multiplica por `j` para representar la ra칤z de `-1`. Por ejemplo: <code>a = 2+3j</code>
* **Boleanas**
    Son variables que pueden tomar como valor cierto o falso, representados en Python por `True` y `False` usando may칰sculas.
* **Estructuras de datos (secuencias de datos)**
    Lista ordenada de valores del mismo o distinto tipo. En Python existen:
    * **String:** cadenas de texto
    * **Lista:** conjuntos ordenados de elementos
    * **Tupla:** conjuntos ordenados e inmutables de elementos
    * **Diccionario:** conjuntos de elementos caracterizados por un identificador y un valor

Existen algunas reglas generales para los nombres de variables:
+ Se usan solo letras, n칰meros y "guiones bajos" (_)
+ NO se usan espacios en ning칰n lugar del nombre
+ El nombre no puede empezar con un n칰mero
+ Las letras may칰sculas se tratan como distintas de las min칰sculas (es decir, Python distingue entre may칰sculas y min칰sculas)

In [ ]:
3a = 10

Cada vez que se crea o modifica una variable, Python interpreta qu칠 tipo de variable es. Cuando se asigna un nuevo valor a un objeto existente (*escritura din치mica*), los valores anteriores de ese objeto se borran de la memoria de la computadora. El primer valor de **a** es el n칰mero real 13.0, pero despu칠s de una nueva asignaci칩n:

In [ ]:
a = 13.0
a = 'b'
print(a)

La funci칩n ``type()`` muestra el TIPO del dato que le pasamos como argumento:

In [ ]:
# Declarar una variable a y mirar qu칠 tipo de variable es utilizando "type(nombre_variable)"

a=2
type(a)

In [ ]:
# Probar de declarar otro tipo de variable y mirar qu칠 tipo es

a=2.0
type(a)

### 2.1 Tipos y operadores b치sicos

Los operadores b치sicos en Python son:

+ Suma (tambi칠n para strings, tuplas o listas): <code>a + b</code>
+ Resta: <code>a - b</code>
+ Multiplicaci칩n (tambi칠n para strings, tuplas y listas): <code>a * b</code>
+ Divisi칩n: <code>a / b</code>
+ Division entera: <code>a // b</code>
+ Resto de la divisi칩n o residuo: <code>a % b</code>
+ Exponencial: <code>a ** b</code>
+ Asignamiento: <code>=</code>, <code>-=</code>, <code>+=</code>,<code>/=</code>,<code>*=</code>, <code>%=</code>, <code>//=</code>, <code>**=</code>
+ Comparaciones booleanas: <code>==</code>, <code>!=</code>, <code><</code>,<code>></code>,<code><=</code>, <code>>=</code>
+ Operaciones booleanas: <code>and</code>, <code>or</code>, <code>not</code>
+ Operaciones para comprobar pertenecencia: <code>in</code>, <code>not in</code>
+ Operaciones para identificar objetos: <code>is</code>, <code>is not</code>
<!-- + Bitwise operators (or, xor, and, complement): <code>|</code>, <code>^</code>, <code>&</code>, <code>~</code> -->
<!-- + Left and right bit shift: <code><<</code>, <code>>></code> -->

### Python como calculadora

Python tiene una notaci칩n concisa para la aritm칠tica que se parece mucho a la forma tradicional de escribir operaciones.

In [ ]:
a = 3+2
b= 3.5 * -8
c = 10/6
print(a, b, c, 10./6.)

In [ ]:
# Ejemplo

a = 12
b = 13.3
c = a + b
print (c, type(a), type(b), type(c))

### M칩dulos 

Algunas funciones matem치ticas m치s complejas no est치n disponibles en el m칩dulo b치sico de Python y deben importarse desde un m칩dulo espec칤fico. Para importar librer칤as, solo se debe escribir "import + el nombre de la librer칤a".

<img src="Figures/python_import.jfif" alt="Drawing" style="width: 250px;"/>

En cada caso se deber치 leer bien la documentaci칩n de las librer칤as usadas para concocer sus caracter칤sticas y saber como implementarlas. Por ejemplo, para math:

https://docs.python.org/3/library/math.html

In [ ]:
import math   # solo se ejecutar치 si la librer칤a no ha estado importada previamente
print(math.pi + math.sin(100) + math.ceil(2.3))

### Operadores booleanos

In [ ]:
a = 4
b = 40
(a>2) and (b>30)

In [ ]:
(a>2) or (b>100)

In [ ]:
not(a>2)

### 2.2 Estructuras de datos

### Strings o cadenas de texto

El texto en Python se trata como una lista de carcateres. De esta manera, la metodolog칤a que aplica al tratamiento de listas, puede ser aplicada a las cadenas de texto.

In [ ]:
a = 'python'
type(a)

In [ ]:
print("Hello" )

In [ ]:
print("Esto es 'un ejemplo' de como usar comillas dentro de un texto que se escribe entre comillas dobles")
print('Aqu칤 tenemos "otro ejemplo" pero ahora al rev칠s')

Para juntar cadenas de car치cteres se puede usar el operador '+':

In [ ]:
a = 'He'
b = 'llo'
c = a+b+'!'
print(c)

Para acceder a solo una parte de una lista o, en este caso, de una *string*, se usa la t칠cnica denominada **slicing**. El formato a seguir para coger solo una parte de la string es el siguiente:

# <center>nombre_variable[indice_primer_elemento:indice_final:step]</center>

Donde el funcionamiento de los 칤ndices se pueden ver en la siguiente imagen

![Slicing1](Figures/slicing1.png)

In [ ]:
#Ejemplos
a = 'Python'
print(a[:], a[0], a[2:], a[:3], a[2:4], a[::2], a[1::2])

#### Ejercicio
Con una l칤nia de codigo, conseguir los siguientes sets de caracteres:
- Primera letra.
- De la letra 2 a la 4
- 칔limas 3 letras
- Solo las letras en posici칩n par, des de la n칰mero 4 al final
- Todo el texto al rev칠s

In [ ]:
texto = "Texto de prueba para hacer el ejercicio"
primera_letra = print(texto[0])

En el caso de los *strings* hay m칠todos en Python que vienen por defecto que nos pueden ser 칰tiles. Por ejemplo las funciones siguientes:
- len: devuelve la longitud el texto.
- str: convierte eun n칰mero en string.
- reverse: devuelve el texto al rev칠s.

Para usar una fucni칩n se pondr치 nombre_de_la_funci칩n(nombre_variable)

Tambi칠n podemos usar m칠todos propios para strings:
- lower: convierte todo el texto en m칤nusculas.
- upper: convierte todo el texto en may칰sculas.
- capitalize: pone en may칰sculas la primera letra del string.
- split(delimitador): devuelve una lista de substrings separados por el delimitador indicado (ver ejemplos m치s adelante)

Para usar un m칠todo se pondr치 nombre_variable.nombre_del_m칠tdodo

In [ ]:
texto='vamos a hacer pruebas con las funciones y m칠todos de Strings!'
print(len(texto))
print(texto.lower())
print(texto.split(' '))
# En una l칤nia, devuelve la 4a palabra del texto todo en may칰sculas!

### Lists

Las listas son un tipo de Python que sirven para agrupar objetos de otros tipos (incluso listas!). Por ejemplo una lista de n칰meros, de floats, de strings, de otras listas, etc. 

Las listas, como los strings, pueden usar la metodolog칤a de *slicing*

In [ ]:
l=[]
type(l)

In [ ]:
# Crear lista
mi_lista = [0,5,'6',34,'Hola']
mi_lista

In [ ]:
# Acceder a un elemento de la lista
a = mi_lista[2]
a

In [ ]:
# Canviar un elemento de una lista
mi_lista[-1]='Adi칩s'
mi_lista

In [ ]:
# Podemos tener lista de listas!
mi_lista=[45,[3,5,6],'palabra',34.6,['a','b','c']]
print(mi_lista)
print(mi_lista[1])
print(mi_lista[1][2])
# acceder a la letra c!

Para las listas tambi칠n hay funciones y m칠todos en Python que vienen por defecto que nos pueden ser 칰tiles. Por ejemplo las funciones siguientes:
- len: devuelve la longitud de la lista.
- list: crear lista

Para usar una fucni칩n se pondr치 nombre_de_la_funci칩n(nombre_variable)

Tambi칠n podemos usar m칠todos propios para listas:
- append: a침adir elemento al final de la lista.
- insert: a침dir un elemento en una posici칩n particular.
- pop: quitar el 칰ltimo elemento de la lista.
- remove: quitar un elemento en particular.
- sort: ordenar la lista

Para usar un m칠todo se pondr치 nombre_variable.nombre_del_m칠tdodo

In [ ]:
mi_lista=['primero','hola','prueba','adi칩s','zool칩gico','m치ster']
print(mi_lista)
mi_lista.append('칰ltimo')
print(mi_lista)
mi_lista.insert(1,'segundo')
print(mi_lista)
mi_lista.pop()
print(mi_lista)
mi_lista.remove('prueba')
print(mi_lista)
mi_lista.sort()
print(mi_lista)

### Dictionaries

Un diccionario es otra manera de agrupar datos donde se puede acceder a un *element* a trav칠s de su *key*. Por ejemplo:

In [ ]:
esta_instalacion = {
    'Potencia': 10,
    'Tipo': 'Solar',
    'A침o_construccion':2012
}

In [ ]:
esta_instalacion['Tipo']

Otro ejemplo podr칤a ser:

In [ ]:
dict = {"Instalacion_1": "Solar", "Instalacion_2": "E칩lica", "Instalacion_3": "E칩lica", "Instalacion_4": "Hidr치ulica", "Instalacion_5": "Solar",}
print(dict)

Para acceder a algun elemento, modificar o a침adir, se podr치 hacer de forma parecida a las listas:

In [ ]:
#acceder
dict["Instalacion_1"]

In [ ]:
# modificar
print(dict)
dict["Instalacion_1"]="E칩lica"
print(dict)

In [ ]:
print(dict)
dict["Instalacion_6"]="Solar"
print(dict)

Los diccionarios pueden contener todos los tipos (int, floats, listas, otros diccionarios, etc.)

In [ ]:
dict = {"Instalacion_1": ["Solar", '10 MW'], "Instalacion_2": ["E칩lica", '15 MW'], "Instalacion_3": ["Solar", '18 MW'], "Instalacion_4": ["Hidr치ulica", '12 MW'], "Instalacion_5": ["Solar", '23 MW'], "Instalacion_6": ["E칩lica", '8 MW'],"Instalacion_7": ["Solar", '11 MW'], "Instalacion_8": ["Hidr치ulica", '11 MW']}
dict

In [ ]:
dict['Instalacion_3'][1]

In [ ]:
#Suma 3 MW a la instalaci칩n 4 y modifica el diccionario!

### Tuples

Tuples son listas **que no permiten ser modificadas!**. 

Su sintaxis es igual que en las listas, per para escribir una tupla se usan par칠ntesis y no corchetes.

In [ ]:
misupertupla = ('Solar', 'E칩lica', 'Hidr치ulica', 'Gas', 'Nuclear', 'NoQueremosM치sCarb칩n')
print(type(misupertupla), misupertupla[4:])

In [ ]:
misupertupla[0]='PV'

## 3. Estructuras condicionales (if)

Las estructuras de control condicionales permiten ejecutar una parte del c칩digo o otro en funci칩n de la evaluaci칩n de una o varis condiciones booleanas de SI o NO (**<code>TRUE</code>** o **<code>FALSE</code>**).

En Python, las estructuras de control condicionales se definen mediante las palabras **<code>if</code>**, **<code>elif</code>** y **<code>else</code>**.

- **<code>if CONDICION:</code>** si se cumple la expresi칩n condicional se ejecuta el bloque de c칩digo a continuaci칩n.
- **<code>elif CONDICION:</code>** de lo contrario, si se cumple esta expresi칩n condicional se ejecuta este otro bloque de c칩digo.
- **<code>else:</code>** de lo contrario, se ejecuta este bloque de c칩digo a continuaci칩n sin evaluar ninguna condici칩n.


La condici칩n es normalmente evaluada mediante los siguientes operadores relacionales <code> <, <=, ==, >=, >, != </code>.

La parte de c칩digo dentro de un ``if`` no pueden estar vac칤a, pero si por alguna raz칩n se debe crear una declaraci칩n if sin contenido, se puede utilizar la declaraci칩n ``pass`` para evitar de se produzca un error.

In [ ]:
# Ejemplo 

a = 33
b = 200

if b > a:
  pass

In [ ]:
#Ejemplo

celsius = 35
fahrenheit = 9.0 /5.0 * celsius + 32

print("La temperatura en Fahrenheit es", fahrenheit)

if fahrenheit > 90:
    print("Hace calor")
elif fahrenheit < 30:
    print("Hace fr칤o")
else: print("No hace ni fr칤o ni calor")

#### Ejercicio

Crear un c칩digo para identificar si la variable **<code>numero</code>** es un numero positivo, negativo, o de valor 0. Guardar el resultado en una variable llamada **<code>signo</code>**

In [ ]:
numero = 2

Tambi칠m se puede expresar en una sola linea la estructura condicional de la siguiente manera, dependindo de si se trata de una, dos o m치s condiciones:

In [ ]:
#Ejemplo

a = 330
b = 330

# con una sola condici칩n:
if a > b: print("a es mayor que b")
    
#con dos condiciones:
print("A") if a > b else print("B")

#con tres condiciones:
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
# Ejercicio: poner en una sola linea el c칩digo para determinar el signo de un n칰mero 
numero = 2

## 4. Listas y loops

### 4.1 Estructuras de control iterativas (for & while)

Las estructuras de control iterativas (tambi칠n llamadas bucles o loops), permiten ejecutar un mismo c칩digo de manera repetida mientras se cumpla una condici칩n.

Existen dos tipos de estructuras de control iterativas:

* For
* While

La sentencia ``for`` de Python itera sobre los elementos de cualquier secuencia (una lista o una cadena de caracteres por ejemplo), en el orden que aparecen en la secuencia.

El ciclo ``while`` permite realizar m칰ltiples iteraciones bas치ndose en el resultado de una expresi칩n l칩gica que puede tener como resultado un valor ``True`` o ``False``.

In [ ]:
#Ejemplo de for

for i in range(0,10,1):
    print(i)

In [ ]:
#Ejemplo de while

i=0
while i < 10 :
    print(i)
    i= i+1

Adem치s, los bucles con ``for`` o ``while`` pueden combinarse con estructuras condicionales ``if`` dando lugar a estructuras m치s complejas.

Con la instrucci칩n ``break`` podemos detener el bucle antes de que haya pasado por todos los elementos.

Con la instrucci칩n ``continue`` podemos detener la iteraci칩n actual del bucle (tanto en ``for`` como en ``while``) y continuar con la siguiente.

In [ ]:
# Ejemplo

numeros = [-5, 3, 2, -1, 9, 6]
total = 0

for n in numeros:
    if n >= 0:
        total += n

total2 = 0
for n in numeros:
    if n < 0:
        continue
    total2 += n

print(total, total2)

In [ ]:
#Ejercicio: calcular el valor medio de una lista con un for

lista=[1,2,3,4]

In [ ]:
#Ejercicio: rehacer el c칩digo anterior para calcular el valor medio con un while en lugar de un for

### 4.2 Lists (o dictionary) comprehensions

Las comprensiones de listas son una forma de ajustar un bucle ``for``, una declaraci칩n ``if`` y una asignaci칩n, todo en una sola l칤nea.

Una lista de comprensi칩n consta de las siguientes partes:

+ Una secuencia de entrada
+ Una variable que representa miembros de la secuencia de entrada
+ Una expresi칩n opcional
+ Una expresi칩n de salida que produce elementos de la lista de salida a partir de miembros de la secuencia de entrada que satisfacen el predicado

In [ ]:
# Ejemplo
num = [1, 4, -5, 10, -7, 2, 3, -1]
squared = []
for i in num:
     if i > 0:
        squared.append(i**2)
print(type(squared), squared)

# Este for se puede reescribir de la siguiente manera:
# En una iteraci칩n, primero comprueba si el if es TRUE y luego realiza el c치lculo
squared = [ x**2 for x in num if x > 0] 
print(type(squared), squared)

In [ ]:
#Ejercicio: calcular el valor medio de una lista con un for de una sola linea

lista=[1,2,3,4]

Esta forma compacta de expresar los bucles tambi칠n se puede utilizar para iterar dentro de listas. A contnuaci칩n se muestran diferentes maneras de juntar los valores de dos listas usando zip o usando fors anidados.

In [ ]:
lista1 = ['a','b','c','d']
lista2 = [1,2,3,4]

# crear una lista con fors anidados:
print ([(i,j) for i in lista1 for j in lista2])

# crear una lista usando zip:
print ([(i,j) for i,j in zip(lista1,lista2)])

# crear un diccionario usando zip:
print ( {i:j for i,j in zip(lista1,lista2)} )

## 5. Diccionarios y tablas de frecuencia

Los diccionarios son muy 칰tiles para contar elementos en una lista, y crear una distribuci칩n de estos mediante una tabla de frecuencia. A continuaci칩n se puede observar un ejemplo donde se quiere saber qu칠 n칰mero del 1 al 9 aparece m치s veces en una lista desordenada de n칰meros.

In [ ]:
mi_lista = [2,3,5,2,5,6,7,8,1,2,3,4,5,2,8,9,5,2,4,6,9,1,2,1,3,6,7,4,3,1,2,9,7,5,4,3,1,2,9,5,4,2,7,9,5,3,4,6,7,3,3,4,5]

In [ ]:
# Creamos un diccionario vac칤o 
freq = {} 
for numero in mi_lista: 
    if (numero in freq): 
        freq[numero] += 1
    else: 
        freq[numero] = 1

for key, value in freq.items(): 
    print ("% d : % d"%(key, value))

De una lista de instalaciones, obtenemos estas tipolog칤as de plantas de generaci칩n. 쯈u칠 tecnolog칤a tiene m치s plantas instaladas? 

쮻etectas alg칰n problema con los nombres? 쮺칩mo lo solucionar칤as?

In [ ]:
instalaciones = ['E칩lica', 'Solar', 'Hidr치ulica', 'Solar', 'E칩lica', 'Hidr치ulica', 'Gas Natural', 'Solar', 'E칩lica', 'Solar', 'Nuclear', 'Solar', 'Hidr치ulica', 'Hidr치ulica', 'Solar', 'Carb칩n', 'E칩lica', 'E칩lica', 'Solar', 'Solar', 'Solar', 'Hidr치ulica', 'Gas Natural', 'Hidr치ulica', 'Nuclear', 'E칩lica', 'E칩lica', 'Solar', 'E칩lica', 'Gas Natural', 'Hidr치ulica', 'hidr치ulica', 'Solar', 'E칩lica', 'Hidr치ulica', 'Solar', 'Eolica', 'Solar','eolica', 'E칩lica', 'Solar', 'Solar', 'Hidr치ulica', 'Gas Natural', 'Solar', 'Gas Natural', 'Nuclear', 'e칩lica', 'Hidr치ulica', 'Hidr치ulica', 'Solar']
instalaciones

## 6. Funciones

Una funci칩n es un bloque de c칩digo con un nombre asociado, que recibe cero o m치s argumentos como entrada, sigue una secuencia de sentencias donde se ejecutan las operaciones deseadas y devuelve un valor y/o realiza una tarea. Este bloque de c칩digo puede ser llamado varias veces cuando se necesite.

En Python existen una serie de funciones integradas por defecto al lenguaje, pero tambi칠n se pueden crear funciones definidas por el usuario para utilizarlas en sus propios programas. 

La lista completa de funciones integradas por defecto puede consultarse en:
www.w3schools.com/python/python_ref_functions.asp

In [ ]:
#Ejemplo de funci칩n integrada en Python

# La funci칩n input() nos permite asignar a una variable un valor ingresado por el usuario

a = input()

print('La variable introducida ha sido ' + a)

Para crear una funci칩n en python, se debe utilizar la palabra ``def`` para definir la funci칩n. La sintaxis para una definici칩n de funci칩n en Python es:

<code>*def* nombre_funcion(lista_de_parametros_entrada):
    sentencias_funcion
    *return* [expresion_a_devolver]</code>

Donde:
* nombre_funcion: es el nombre de la funci칩n.
* lista_de_parametros_entrada: es la lista de par치metros que puede recibir una funci칩n, separados por coma.
* sentencias_funcion: es el bloque de sentencias en c칩digo fuente Python que realizar cierta operaci칩n dada.
* expresion_a_devolver: es la expresi칩n o variable que devuelve la sentencia return.

In [ ]:
# Ejemplo: funci칩n para poner a 0 el primer valor de una lista

def change_first_element(list):
    list[0]=0 #it returns none!

numbers=[1,2,3,4]
change_first_element(numbers)
print(numbers)

#### Ejemplo: m치ximo com칰n denominador

El com칰n denominador de dos enteros positivos $a$ y $b$ es el mayor divisor com칰n entre $a$ y $b$.  El algortimo Euclideo es un m칠todo iterativo para calcular el m치ximo com칰n denominador de dos enteros. En pseudoc칩digo seria:

+ Si $a<b$, intercanviar $a$ y $b$.
+ Dividir $a$ entre $b$ y obtener el residuo, $r$. 
+ Si $r=0$, el valor $b$ es el MCD de $a$ y $b$.
+ Si $r \neq 0$, iterar de nuevo reemplazando $a$ por $b$ y reemplazando $b$ por $r$.

In [ ]:
def mcd(a,b):
    r = 1
    while r != 0:
        if a<b:
            c=a
            a=b
            b=c
        r = a%b 
        if r == 0:
            return b
        else:
            a = b
            b = r

mcd(100,16)

#### Ejercicio: crear una funci칩n para calcular el factorial de un entero

El factorial de un entero no negativo 洧녵 es el producto de todos enteros positivos menores o iguales a  洧녵.

In [ ]:
# Poner tu c칩digo aqu칤:

### 6.1 Argumentos y par치metros de funciones

Al definir una funci칩n, los valores que se reciben se denominan par치metros, mientras que durante la llamada, los valores que se env칤an se denominan argumentos.

Por defecto, se debe llamar a una funci칩n con el n칰mero correcto de argumentos. Si la funci칩n espera 2 argumentos, debe llamar a la funci칩n con 2 argumentos.

#### Argumentos por posici칩n

Cuando se envian argumentos a una funci칩n, por defecto estos se reciben por orden en los par치metros definidos, lo que se conoce como argumentos por posici칩n. En el ejemplo anterior, el argumento 100 es la posici칩n 0, que se corresponde al par치metro de la funci칩n a, mientras que el argumento 16 es la posici칩n 1, que se corresponde al par치metro de la funci칩n b.

#### Argumentos por nombre

Sin embargo, es posible saltarse el orden de los par치metros si se indica durante la llamada que valor tiene cada par치metro a partir de su nombre.

In [ ]:
mcd(b=100,a=16)

#### Par치metros por defecto

Para evitar mensajes de error cuando no se llama a una funci칩n con los argumentos necesarios, se pueden definir par치metros por defecto dentro de una funci칩n.

In [ ]:
def mcd(a=None,b=None):
    if a == None or b == None:
        print ("Error, debes enviar dos n칰meros a la funci칩n")
        return
    r = 1
    while r != 0:
        if a<b:
            c=a
            a=b
            b=c
        r = a%b 
        if r == 0:
            return b
        else:
            a = b
            b = r

mcd()

#### Par치metros indeterminados ``*args`` y ``**kwargs``

En algunas ocasiones, no se sabe con anterioridad cuantos elementos es necesario enviar a una funci칩n.

Si no se sabe cu치ntos argumentos por posici칩n se pasar치n a una funci칩n, se agrega un * antes del nombre del par치metro en la definici칩n de la funci칩n. Por convenio, se suele utilizar el nombre de par치metro ``*args``. De esta forma, la funci칩n recibir치 una tupla de argumentos y podr치 acceder a los elementos en consecuencia.

De forma similar, si no se sabe cu치ntos argumentos por nombre se pasar치n a una funci칩n, se agregan dos ** antes del nombre del par치metro en la definici칩n de la funci칩n. Por convenio, se suele utilizar el nombre de par치metro ``**kwargs``. De esta forma, la funci칩n recibir치 un diccionario de argumentos y podr치 acceder a los elementos en consecuencia.

In [ ]:
def super_funcion(*args,**kwargs):
    total = 0
    for arg in args:
        total += arg
    print ("suma => ", total)
    for kwarg in kwargs:
        print (kwarg, "=>", kwargs[kwarg])

super_funcion(50, -1, 1.56, 10, 20, 300, nombre="Pedro", edad=38)

## 7. Funciones avanzadas

En este apartado se ver치 como en alguna ocasiones, hay funciones simples que solo queremos usar una vez. Este uso no parece muy apropiado para las funciones de las que hemos hablado hasta ahora... Vamos a ver primero ejemplos d칩nde este tipo de funciones nos pueden ser de utilidad. Se trata de las funciones <code>map, filter y reduce<code>.

### 7.1 Map

Con un "map" podemos aplicar una funci칩n a toda una lista de inputs. Por ejemplo si queremos coger una lista de n칰meros y aplicar el cuadrado a todos sus elementos podr칤amos hacer:

In [ ]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(items)
print(squared)

Usando ``Map`` , tendr칤amos:

In [ ]:
def square_item (x):
    return x**2
squared = list(map(square_item, items))
print(items)
print(squared)

Como se puede ver ``map`` es una funci칩n que acepta una funci칩n como argumento

``map(funcion a aplicar, lista de entrada)``

### 7.2 Filter

La funci칩n filter de una manera similar, devuelve una lista con aquellso elementos de una lista de entrada que cumple una cierta codici칩 (filtra la lista de etrada con una condici칩n determinada). V칠amos como ejemplo, si queremos quitar los elementos negativos de una lista y quedarnos solo con los positivos y que sean pares

In [ ]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
positivos=[]
for item in items:
    if item>=0:
        if item % 2 == 0:
            positivos.append(item) 
print(items)
print(positivos)

In [ ]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
def es_positivo(x):
    return x>=0 and x%2==0
positivos=list(filter(es_positivo, items))
print(items)
print(positivos)

Se puede observar como su sitaxis es muy parecisa a la funci칩 ``map``, pero usando ahora ``filter``

``filter(funcion a aplicar, lista de entrada)``

### 7.3 Reduce

La funci칩n ``Reduce`` ser치 muy 칰til cuando se quiera hacer un c치lculo sobre una lista y obtener el resultado. Por ejemplo si queremos obtener el resultado de multiplicar los n칰meros de una lista har칤amos:

In [ ]:
producto = 1
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
for num in lista:
    producto = producto * num
print(producto)

Usando ``reduce``:

In [ ]:
from functools import reduce
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
def multiplicar(x,y):
    return x*y
producto = reduce(multiplicar, lista)
print(producto)

Vemos que para usar ``reduce`` se tiene que importar de ``functools`` y que tiene una sintaxis id칠tica a los ateriores casos:
``reduce(funcion a aplicar, lista de entrada)``

### 7.4 Funciones Lambda 

En todos estos casos hemos visto como consegumos comprimir el c칩digo, pero siempre tenemos que definir fuciones, normalmente muy simple, solo para ser usadas una vez. Para estas ocasiones, existen las ``funciones an칩nimas`` o ``lambda functions``. Estas se pueden definir y usar en la misma l칤nia, y nos ahorramos un mont칩n de tiempo!!

Su sintaxis es:

``lambda entradas: salida``

Vamos a volver a escribir las mismas funciones que antes, perpo usado estas funciones para verlo m치s claro con ejemplos:

In [ ]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x:x**2, items))
print(items)
print(squared)

In [ ]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
positivos=list(filter(lambda x: x>=0 and x%2==0, items))
print(items)
print(positivos)

In [ ]:
from functools import reduce
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
producto = reduce(lambda x,y: x*y, lista)
print(producto)

#### Ejercicio

Dada una lista de nombres de clientes, devolver la lista con todos los nombres con la primera letra en may칰sculas

In [ ]:
nombres = ['jordi', 'arnau', 'laia', 'pedro', 'juan', 'pau', 'noemi', 'arya', 'marti', 'lyanna', 'miquel', 'joana', 'ricard', 'daenerys', 'alexandra']
# vuestro c칩digo aqu칤!

#### Otros usos

Hay m치s ocasiones donde una funci칩n pide otra funci칩n como argumeto, dode usar una funci칩n lambda ser치 muy 칰til. Por ejemplo, si miramos la documentaci칩n de la funci칩n ``sorted`` que viene en Python por defecto:

https://docs.python.org/3/library/functions.html#sorted

In [ ]:
desordenado = ['Mart칤','Anna','daniel','Pau','berta','Roberto','Xavier', 'alexandra']
sorted(desordenado)

Si especificamos una funci칩n en el apartado ``key`` opcional:

In [ ]:
sorted(desordenado, key=lambda x: x.lower())

## 8. Lenguaje orientado a objetos

Python es un lenguaje de programaci칩n orientado a objetos. Casi todo en Python es un objeto, con sus propiedades y m칠todos. Una clase es como un constructor de objetos, o un "plano" para crear objetos.

Entre los conceptos asociados a una clase destacan los siguientes:

+ Clase: una especie de "plantilla" en la que se definen los atributos y m칠todos predeterminados de un tipo de objeto.

+ Objeto: instancia de una clase.

+ M칠todo: son funciones asociadas a un objeto o a una clase de objetos. Se podria decir que es lo que el objeto puede hacer.

+ Atributos: son variables asociadas a un objeto o a una clase de objetos. Se podria decir que son las caracter칤sticas que tiene una clase. Hay atributos de instancia para inicializar los atributos m칤nimos de la clase cuando se crea la clase, y atributos de clase para complmentar la descripci칩n del objeto.

<img src="Figures/clases.png" alt="Drawing" style="width: 600px;"/>

En Python se define una clase con la palabra reservada ``class``.

El par치metro ``self`` es una referencia a la instancia actual de la clase y se usa para acceder a las variables que pertenecen a la clase.

Una vez creado un objeto, se pueden referenciar a sus atributos o invocar a un m칠todo por medio del operador ``.``.

In [ ]:
#Ejemplo: Clase de un rectangulo

class Rectangulo:
    """Clase de un rectangulo"""
    # lista de objetos
    x = 0
    y = 0
    
    # lista de m칠todos
    def area(self):
        return self.x * self.y

# Crear el objeto 'a' haciendo una instancia a la clase Rectangulo    
a = Rectangulo()
# Inicializar x, y 
a.x = 10
a.y = 4
# Calcular el area del rectangulo
a.area()

### 8.1 Atributos de instancia ``__init__()``

Todas las clases tienen una funci칩n llamada ``__init __ ()``, que se ejecuta cuando se inicia la clase y sirve para inicializar los atributos de instancia. Los argumentos que se utilizan en la definici칩n de ``__init__()`` corresponden a los par치metros que se deben ingresar al instanciar un objeto.

In [ ]:
#Ejemplo: clase de un rectangulo

class Rectangulo:
    """Clase de un rectangulo"""
    
    # atributos de instancia
    def __init__(self,x,y):
        self.x = x
        self.y = y

    # lista de m칠todos
    def area(self):
        return self.x * self.y
    
a = Rectangulo(10,4)

a.area()

#### Ejercicio

A침adir a la clase anterior un m칠todo para calcular el per칤metro del rect치ngulo y otro m칠todo para cambiar el tama침o del rect치ngulo mediante un factor de escala.

In [ ]:
# A침adir c칩digo aqu칤

### 8.2 Herencia

En programaci칩n orientada a objetos, la herencia es la capacidad de reutilizar una clase extendiendo su funcionalidad. Una clase que hereda de otra puede a침adir nuevos atributos, ocultarlos, a침adir nuevos m칠todos o redefinirlos.

#### Ejemplo

En el siguiente ejemplo, la clase alumno hereda de la clase persona para complementar los atributos que puede tener una persona.

In [ ]:
class Persona:
    def __init__(self, nombre, apellido):
        self.nombre = nombre
        self.apellido = apellido

    def imprimirnombre(self):
        print(self.nombre, self.apellido)

class Estudiante(Persona):
    nota = 0
    clase = 'Clase sin introducir'

    def imprimirnota(self):
        print(self.nota)

        
x = Persona("Johann Sebastian", "Mastropiero ")
x.imprimirnombre()

y = Estudiante("Pedro", "Sanchez")
y.nota = 4.99
y.imprimirnombre()
y.imprimirnota()

## 9. Introducci칩n a NumPy

NumPy es una librer칤a de Python utilizada para trabajar con matrices. Tambi칠n tiene funciones para trabajar con 치lgebra lineal o transformadas de Fourier. NumPy significa Numerical Python.

<img src="Figures/NumPy_logo.png" alt="Drawing" style="width: 400px;"/>

Como hemos visto, en Python ya tenemos listas que sirven al prop칩sito de trabajar con matrices, pero su procesamiento es lento. NumPy tiene como objetivo proporcionar un objeto de matriz que sea hasta 50 veces m치s r치pido que las listas tradicionales de Python, algo importante para la ciencia de datos donde la velocidad y los recursos son muy importantes. Adem치s, se diferencian de las listas en que las matrices de NumPy no se pueden cambiar de tama침o, todos los elementos deben ser del mismo tipo, y se permiten ls operaciones entre matrices.

El c칩digo fuente de NumPy se encuentra en este repositorio de github https://github.com/numpy/numpy

El objeto de matriz en NumPy se llama ``ndarray``, proporciona muchas funciones de soporte que hacen que trabajar con ``ndarray`` sea muy f치cil. Se puede crear una ndarray  con NumPy con la funci칩n ``.array()``

In [ ]:
#Ejemplo
import numpy as np #normalmente se suele importar como np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

Para crear un ndarray, podemos utilizar una lista, tupla o cualquier objeto tipo matriz al m칠todo ``array()``, y se convertir치 en un ``ndarray``. Se pueden crear ``ndarrays`` de diferentes dimensiones. Los 0-D son solo n칰meros, los 1-D son vectores, los 2-D son matrices, etc. 

Los principales atributos que se pueden utlizar con ``ndarrays`` son:

| Atributo  | Descripci칩n | 
|-----------|-------------|
| ndim      |n칰mero de dimensiones de la matriz| 
| shape     |n칰mero de elementos de cada dimensi칩n de la matriz|
| size      |n칰mero de elementos total de la matriz|
| dtype     |tipo de los elementos de la matriz|
| astype    |para cambiar el tipo de los elementos de la matriz|

In [ ]:
#Ejemplo

a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)
print(d.shape)
print(d.size)
print(d.dtype)

e = d.astype(float)

print(e)
print(e.dtype)

### 9.1 Acceder a valores de un ndarray

Se puede acceder a un elemento de la matriz haciendo referencia a su n칰mero de 칤ndice. Los 칤ndices en las matrices NumPy comienzan con 0, lo que significa que el primer elemento tiene 칤ndice 0, y el segundo tiene 칤ndice 1, etc.

Para acceder a elementos de matrices 2-D podemos usar enteros separados por comas que representan la dimensi칩n y el 칤ndice del elemento. Para matrices 3-D o superior, se deben a침adir tantos enteros separados por comas como dimensiones tenga la matriz.

In [ ]:
#Ejemplo

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print(arr[0, 1])

Tambi칠n se puede utilizar el slicing en ``ndarrays``. En este caso: ``array[indice_primer_elemento:indice_final:step]``

In [ ]:
#Ejercicio

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

# devuelve el indice 2 de las dos dimensiones:

# devuelve el intervalo entre el 칤ndice 1 y 4 (no incluido) de las dos dimensiones:

# devuelve todos los elementos de posiciones pares:

<img src="Figures/numpy_indexing.png" alt="Drawing" style="width: 200px;"/>

In [ ]:
#Ejercicio: seleccionar los elementos de cada uno de los conjuntos de elementos de la figura anterior:

arr = np.array([[0,1,2,3,4,5],[10,11,12,13,14,15],[20,21,22,23,24,25],[30,31,32,33,34,35],[40,41,42,43,44,45],[50,51,52,53,54,55]])
arr

# Nueva array con selecci칩n elementos rojos:
arr2[]
# Nueva array con selecci칩n elementos naranjas:
arr3[]
# Nueva array con selecci칩n elementos verdes:
arr4[]
# Nueva array con selecci칩n elementos azules:
arr5[]

### 9.2 Importar arrays de archivos .csv

Como los archivos ** Comma-separated values (CSV) ** son un tipop de archivo .TXT, se puede importar un archivo .CSV con la funci칩n ``np.genfromtxt(ubicacion_archivo)``

Los parametros opcionales de **genfromtxt** pueden consultarse en: https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html

| Funci칩n   | Tipo | Descripci칩n | 
|-----------|----|---------|
|skip_header | opcional |n칰mero de l칤neas a evitar al inicio del fichero|
|filling_values | opcional |valores a utilizar cunado no haya valores|
|delimiter | opcional |string utilizado para separar valores (en CSV es ',')|
|usecols | opcional | seleciona que columnas importar, siendo 0 la primera (e.g. ``usecols = (1, 4, 5)``)|


#### Ejercicio: 

Observar el archivo **Data/block_13_diario_reducido.csv** y ver como se ha importado a NumPy.

Sustituir valores nan por ``99999`` y evitar importar la primera fila y las dos primeras columnas.

In [ ]:
data = np.genfromtxt('Data/block_13_diario_reducido.csv',delimiter=',')
print (data)

# Sustituir valores nan por 99999

# Evitar importar la primera fila y las dos primeras columnas

### 9.3 Funciones b치sicas con NumPy

Aqu칤 podeis ver una lista de las funciones m치s interesantes a mirar en la documentaci칩n, con algun ejemplo:

| Funci칩n   | Descripci칩n | 
|-----------|-------------|
| array_name.mean()    |Media| 
| array_name.min()     |Valor m칤nimo|
| array_name.max()     |Valor m치ximo|
| array_name.sum()     |Suma de valores|
| array_name.std()     |Desviaci칩n standard|
| array_name.var()     |Varianza|
| array_name.reshape(nueva_dimension/es) | Permite cambiar las dimensiones|

Algunos ejemplos de Methods asociados a NumPy:

| Method   | Descripci칩n | 
|-----------|-------------|
| np.amin(array_name)     | valor m칤nimo|
| np.amax(array_name)     | valor m치ximo|
| np.argmax(array_name)          | 칤ndice del valor m치ximo|
| np.argmin(array_name)          | 칤ndice del valor m칤nimo|
| np.isnan(array_name)           | identificador de valores Nan|

Para una matriz multidimensional, es posible hacer el c치lculo a lo largo de una sola dimensi칩n, pasando el par치metro ``axis`` para indicar el eje. Por ejemplo, en 2-D, axis=0 es la columna  y axis=1 es la fila.

#### Ejercicio

Practicad con alguno de estas funciones o Methods a partir del array ``data``.

In [ ]:
# vuestro c칩digo aqu칤!

# Encontrar valor y posici칩n del valor m치ximo

# Encontrar valor y posici칩n del valor m칤nimo de la segunda columna

# Encontrar valor medio de cada fila

# Encontrar posicion de los valores Nan

### 9.4 Filtrado de datos con una matriz booleana

Comparaciones booleanas se pueden usar para comparar elementos en matrices de igual tama침o.

La funci칩n ``where`` crea una nueva array a partir de comparar dos arrays, siguiendo la siguiente syntaxis: ``where(bool_array, true_array, false_array)``

In [ ]:
# Ejemplo: evitar error al dividir por cero

a = np.array([1, 3, 0], float) 
np.where(a != 0, 1/a, 0)

Esto se puede usar para crear una m치scara, extrayendo los 칤ndices de una matriz que satisfacen una condici칩n dada.

In [ ]:
arr = np.array([10,8,30,40])
print (arr)
mask = arr < 9 # array booleana con los elementos menores a 9
mask

#### Ejercicio

Reescribir el siguiente c칩digo para obtener un array donde los valores inferiores a 9 se les imponga el valor 10 utilizando el array mak anterior y la funci칩n ``where``.

In [ ]:
print ('Resetting all values below 9 to 10...')
print (arr < 9)
arr[arr < 9] = 10
print (arr)

### Para m치s informaci칩n sobre NumPy

* http://numpy.scipy.org
* http://scipy.org/Tentative_NumPy_Tutorial
* https://numpy.org/learn/

## 10. Introducci칩n a Pandas

Padas es de las librer칤as m치s importantes en Python para Data Science!!! B치sicamente nso permitir치 tener ``Datasets`` abiertos como si se trataran de una hoja de c치lculo en el excel, es decir, en forma matricial con dos dimensiones y con columnas e idices indexados.

<img src="Figures/Pandas.jpg" alt="Drawing" style="width: 800px;"/>

Pandas sirve para:
* Operar en todo el dataset o a una fila o columna (vectores) con alta eficiencia computacional
* Ayuda a la limpieza de datos y solucionar datos inexistentes
* Acceder a subsets de datos
* A침adir o eliminar columnas con nuevas caracter칤sticas.
* Agrupar datos por caracter칤sticas.
* Muy eficiente juntando datos de distintas fuentes.
* Trabajar con series temporales.

### 10.1 Leer datos de un csv

La mayor칤a de las veces cargaremos los archivos a trav칠s de un archivo .csv. A continuaci칩n podeis ver el c칩digo b치sico que se usar치 casi siempre:

In [1]:
import pandas as pd #importamos Pandas!
londres = pd.read_csv('Data/block_13_diario.csv')
londres.head(5)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134

### 10.2 Inspecci칩n datos

Si queremos saber qu칠 dimensiones tiene este DataFrame, podemos mirar su 'forma'

In [2]:
londres.shape

(32992, 9)

Hay 32992 entradas y 9 caracter칤sticas para cada entrada.

Puede ser muy 칰til ver las primeras o 칰ltimas entradas del dataset para entender mejor estos datos:

In [4]:
londres.head(10)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134
5,MAC000113,2011-12-19,0.6980,0.746479,2.204,48,0.488694,35.831,0.131
6,MAC000113,2011-12-20,0.2485,0.436354,1.551,48,0.362781,20.945,0.139
7,MAC000113,2011-12-21,0.2050,0.426542,1.818,48,0.477511,20.474,0.119
8,MAC000113,2011-12-22,0.1830,0.181854,0.259,48,0.040321,8.729,0.119
9,MAC000113,2011-12-23,0.1860,0.185646,0.268,48,0.040754,8.911,0.121

In [5]:
londres.tail()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
32987,MAC005416,2014-02-24,0.0660,0.111437,0.809,48,0.126465,5.349,0.050
32988,MAC005416,2014-02-25,0.0645,0.072521,0.238,48,0.030756,3.481,0.051
32989,MAC005416,2014-02-26,0.0675,0.107917,0.343,48,0.080074,5.180,0.049
32990,MAC005416,2014-02-27,0.0910,0.104250,0.296,48,0.054844,5.004,0.047
32991,MAC005416,2014-02-28,0.0630,0.063000,0.063,1,NaN,0.063,0.063

Si queremos saber el nombre de las columnas o 칤ndices, podemos acceder a ellos:

In [6]:
londres.columns

Index(['LCLid', 'day', 'energy_median', 'energy_mean', 'energy_max',
       'energy_count', 'energy_std', 'energy_sum', 'energy_min'],
      dtype='object')

In [7]:
londres.columns[4]

'energy_max'

In [8]:
londres.index

RangeIndex(start=0, stop=32992, step=1)

Por 칰tlimo, para tener un resumen muy bueno, es muy util el metodo ``describe``

In [9]:
londres.describe()

,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
count,32992.000000,32992.000000,32992.000000,32992.000000,32865.000000,32992.000000,32992.000000
mean,0.165632,0.223007,0.879596,47.776128,0.182819,10.660024,0.064419
std,0.158396,0.178484,0.672407,3.035524,0.147394,8.565058,0.076632
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.052000,0.085432,0.348000,48.000000,0.069162,4.046000,0.016000
50%,0.118500,0.176844,0.775000,48.000000,0.149607,8.458000,0.035000
75%,0.225000,0.311276,1.248000,48.000000,0.264400,14.910500,0.093000
max,1.608000,1.407458,6.897000,48.000000,1.104101,67.558000,1.068000

### 10.3 Seleccionar datos

Si queremos trabajar o seleccionar solo con una parte del dataset, podemos usar **[]** despu칠s del nombre del dataset, e indicar qu칠 columnas se desean seleccionar.

In [12]:
londres[['day', 'energy_max']].head()

          day  energy_max
0  2011-12-14       1.674
1  2011-12-15       1.434
2  2011-12-16       2.034
3  2011-12-17       1.068
4  2011-12-18       2.218

Si, por el contrario se quiere seleccionar una parte de las filas, se indicar치 usando *slicing* como en los strings:

In [15]:
londres.iloc[0]

LCLid             MAC000113
day              2011-12-14
energy_median         1.091
energy_mean         1.06525
energy_max            1.674
energy_count             28
energy_std         0.305397
energy_sum           29.827
energy_min            0.262
Name: 0, dtype: object

#### loc vs iloc

Para seleccionar partes m치s espec칤ficas (m치s de una columna, varias columnas y solo unas filas de 칠stas,...), se usar치 la indexaci칩n con el loc o iloc. La 칰nica diferencia entre los dos, es que el primero se basa en el *label* de las filas o columnas, mientras que iloc se basa en el *integer* de estas. Con un ejemplo se entiende mejor:

In [ ]:
londres.loc[3:5,['day', 'energy_max']]

In [ ]:
londres.iloc[3:5,1:3]

Se debe tener en cuenta que el 칤ndice no ser치 siempre un n칰mero y puede tratar-se de otro par치metro. Por ejemplo, podemos poner el d칤a como 칤ndice.

### 10.4 Filtrar datos

Otra manera de seleccionar solo una parte del dataset es aplicar *Boolena indexing*, que no es nada m치s que aplicar un filtro a los datos. Por ejemplo, vamos a seleccionar solo aquellos d칤as en los que la energia m치xima ha sido mayor a 1.

In [ ]:
londres['energy_max'] > 1

Como se puede observar ahora tenemos seleccionadas aquellas columnas que cumplen nuestra condici칩n. 쯏 si lo ponemos directamente dentro del dataset cuando seleccionamos solo una part?

In [ ]:
londres[londres['energy_max']>1]

#### Ejercicio

Obtener un cuadro resumen de los par치metros para el contador con ID 'MAC000113'

In [ ]:
# vuestro codigo aqu칤!

### 10.5 Funciones b치sicas interesantes

Aqu칤 poeis ver una lista de las funciones m치s interesantes a mirar en la documentaci칩n, con algun ejemplo:

| Funci칩n   | Quantitativas | Qualitativas|
|-----------|---------------|-------------|
| count()   |N칰mero de observaciones non-null|  
| sum()     |Suma de valores|
| mean()    |Media de las observaciones            | 
| median()  |Mediana de las observaciones             |
| min()     |Valor m칤nimo|
| max()     |Valor m치ximo|
| std()     |Desviaci칩n standard|
| var()     | Varianza|
| value_counts()     | Valores unicos en cada columna - tabla de frec|
| nunique()          | N칰mero de valores distintos|
| isnull()     | M치scara de valores null o Nan|

Practicad con alguno de estos par치metros

In [ ]:
# vuestro c칩digo aqu칤!

# Valor total de energia para el Id 'MAC000113'

# 쮺u치ntos contadores distintos hay?

# 쮺칩mo se llaman?

# 쮺u치l fue el valor m치ximo de energ칤a en dia 15 de Mayo de 2013?

### 10.6 Manipular dataframes

Se puede aplicar una funci칩n a alguna columna usando el m칠todo *apply* y recordando las fuciones lambda!

In [ ]:
londres['energy_var'] = londres['energy_std'].apply(lambda x: x**2)
londres.head()

#### Ejercicio

Crea una columna nueva llamada 'ID' con solo las 칰ltimas 6 cifras de 'LCLid'

In [ ]:
# vuestro c칩digo aqu칤!

### 10.7 Ordenar

Si se desea ordenar valores, se puede usar ``sort_values``. Con un ejemplo se entender치 mejor:

In [ ]:
londres.sort_values(by='energy_max', ascending= False, inplace=True)
londres.head()

### 10.8 Agrupar

Por 칰ltimo, una funci칩n muy 칰til es la de agrupar (group_by).

Por ejemplo, imagina que quieres agrupar todos los datos por n칰mero de contador y sacar algun par치metro de este contador (m치ximo, m칤nimo, etc.).

El resultado de esta operaci칩n, ser치 otro dataframe con los datos agrupados respeto a una variable. Adem치s tambi칠n se deber치 indicar qu칠 funci칩n de *agregaci칩n* se desea usar (max, min, mean, count, sum, etc.).

Vamos a implementar el ejemplo comentado!

In [1]:
contadores = londres[['LCLid','energy_max', 'energy_min', 'energy_sum']].groupby('LCLid').mean()
contadores

NameError: name 'londres' is not defined

### 10.9 Merge

Muchas veces tendremos la informaci칩n deseada en distintas bases de datos, archivos o datasets. Pandas nos ofrece la opci칩n de juntar y fusionar datasets con *merge*.

Veamos un ejemplo con el dataset *londres*. 

Si cargaos otro dataset con la informaci칩n de cada casa obtenemos:

In [9]:
import pandas as pd

londres = pd.read_csv('Data/block_13_diario.csv')
londres.head(5)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134

In [14]:
casas = pd.read_csv('Data/informations_households.csv')
casas.head(5)

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

Podemos ver como por cada contador, nos da informaci칩n de d칩nde podemos encontrar m치s par치metros de aquel contador y los agrupa por unos rupos llamados Acron. Para saber m치s sobre estos, ir directamente al repositorio de este dataset e inspeccionar con detalle.

De todos modos, si queremos juntar toda la informaci칩n en un mismo dataset, tendr칤amos que hacer un merge:

<img src="Figures/Panda Data Wrangling Cheat Sheet 2.jpeg" alt="Drawing" style="width: 500px;"/>


Donde los modos *how* posibles se refieren a:

<img src="Figures/merge_options.png" alt="Drawing" style="width: 500px;"/>

In [18]:
combinado = pd.merge(londres, casas, how='left', on='LCLid')
combinado.head(5)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,stdorToU,Acorn,Acorn_grouped,file
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262,Std,ACORN-E,Affluent,block_13
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119,Std,ACORN-E,Affluent,block_13
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129,Std,ACORN-E,Affluent,block_13
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115,Std,ACORN-E,Affluent,block_13
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134,Std,ACORN-E,Affluent,block_13

### 10.10 Otros

Hay muchas m치s funciones que se pueden usar con Pandas. Os animamos a mirar en su documentaci칩n, foros, cheat sheets, cursos,...

https://pandas.pydata.org/pandas-docs/stable/index.html

## 11. Creaci칩n de g치ficos

En Python existen diversas librer칤as para crear gr치ficos como Bokeh, altair, Pandas o Matplotlib

<img src="Figures/four_logos.png" alt="Drawing" style="width: 800px;"/>

En este curso aprenderemos las funciones b치sicas de matplotlib, ya que las otras librer칤as siempre estan basadas en esta y nos ayudar치 a luego saber usarlas tambi칠n.

### 11.1 Matplotlib.pyplot

El m칩dulo que se usa es el pyplot de matplotlib. Toda su documentaci칩n se puede encontrar aqu칤:

https://matplotlib.org/api/pyplot_api.html#module-matplotlib.pyplot

Vaamos a importarla!

In [ ]:
import matplotlib.pyplot as plt

Las dos instancias m치s importntes en pyplot son
* figure: en matplotlib.figure.Figure, una *figure* ser d칩nde iran los gr치ficos. Es el lienzo donde puede haber uno o varios gr치ficos.
* axes: eb matplotlib.axes.Axes, econtramos dode iran los gr치ficos en s칤

Vamos a crear un primer gr치fico de prueba:

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.plot([1,2,3,4],[1,4,8,16])
plt.show()

En este caso hemos creado un gr치fico usando *plot*, donde el primer argumento es el eje de las x y el segundo el de las y (deben ser de la smismas dimensiones). 

Podemos a침adir otra informaci칩n como t칤tulo y nombre de los ejes:

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.plot([1,2,3,4],[1,4,8,16])
plt.title('Nuestro primer plot!')
plt.xlabel('eje X')
plt.ylabel('eje Y')
plt.show()

### 11.2 Crear ventanas

Si se quiere modificar el tama침o del gr치fico, es d칩de tendremos que usar el t칠rmino *figure* comentdo anteriormente. Recordamos que *figure* era el lienzo donde pon칤amos uno o m치s gr치ficos. En este caso, solo ponemos uno.

Aqu칤 podemos ver como se puede configurar una *figure* con unas medidas predeterminadas:

In [ ]:
plt.figure(figsize=(20,5))
plt.plot([1,2,3,4],[1,4,8,16])
plt.show()

Para cada gr치fico tambi칠n se puede determinar el estilo del gr치fico con un tercer argumento:

In [ ]:
plt.plot([1,2,3,4],[1,4,8,16],'go')
plt.show()

Y podemos poner m치s de un gr치fico en el mismo plot, indicando en la leyenda que es cada cosa:

In [ ]:
plt.plot([1,2,3,4],[1,4,8,16],'g-',label='primero')
plt.plot([1,2,3,4],[1,6,12,6],'r-', label='segundo')
plt.title('Ahora son dos!')
plt.xlabel('eje X')
plt.ylabel('eje Y')
plt.legend()
plt.show()

### 11.3 Subplots

Para poner distintos gr치ficos con distintos ejes se puede usar Subplots. El m칠tdodo `subplot` tiene 3 argumentos: n칰mero de filas, n칰mero de columnas e 칤ndice. Veamos con un ejemplo como se usa:

In [ ]:
plt.figure(figsize=(15,2))

plt.subplot(1,2,1)
plt.plot([1,2,3,4],[1,4,9,16],'go')
plt.title('Izquierda')
plt.xlabel('un eje X')
plt.ylabel('un eje Y')

plt.subplot(1,2,2)
plt.plot([1,2,3,4],[1,6,12,6],'r-')
plt.title('Derecha')
plt.xlabel('otro eje X')
plt.ylabel('otro eje Y')

O, por ejemplo:

In [ ]:
plt.figure(figsize=(10,10))

plt.subplot(2,1,1)
plt.plot([1,2,3,4],[1,4,9,16],'go')
plt.title('Arriba')
plt.xlabel('un eje X')
plt.ylabel('un eje Y')

plt.subplot(2,1,2)
plt.plot([1,2,3,4],[1,6,12,6],'r-')
plt.title('Abajo')
plt.xlabel('otro eje X')
plt.ylabel('otro eje Y')

### 11.4 Gr치fico de barras

Para hacer un gr치fico de barras en vez de `plot`usaremos `bar`, siguendo una estructura muy parecida.

Recordemos el dataset de antes:

In [ ]:
contadores = londres[['LCLid','energy_max', 'energy_min', 'energy_sum']].groupby('LCLid').mean()
contadores.head(10)

Podemo hacer una gr맍ica de barras:

In [ ]:
divisiones=contadores.index[:10]
marcas=contadores['energy_max'][:10]

plt.figure(figsize=(20,10))
plt.bar(divisiones, marcas, color = 'blue')
plt.xlabel('contador')
plt.ylabel('Energ칤a m치xima')
plt.xticks(rotation=45, ha='right')

O en barras horizontales, usando `barh`:

In [ ]:
divisiones=contadores.index[:10]
marcas=contadores['energy_max'][:10]

plt.figure(figsize=(20,10))
plt.barh(divisiones, marcas, color = 'blue')
plt.ylabel('Contador')
plt.xlabel('Energ칤a m치xima')

### 11.5 Histograma

Veamos con un ejemplo como hacer un histograma:

In [ ]:
plt.hist(londres[londres['LCLid']=='MAC000113']['energy_max'],8)

#### Ejercicio

쯈u칠 muestra el gr치fico anterior? 쮺칩mo lo podemos mejorar?

In [ ]:
#Vuestro c칩digo!