<img src="Figures/top_ML.png" alt="Drawing" style="width: 1000px;"/>

# Introducción a Python

### CONTENIDOS
1. Introducción a Jupyter Notebooks 
2. Variables y estructuras de datos 
3. Estructuras condicionales 
4. Listas y loops 
5. Diccionarios y tablas de frecuencia
6. Funciones 
7. Funciones avanzadas 
8. Lenguaje orientado a objetos 
9. Introducción a NumPy 
10. Introducción a Pandas - Ricard
11. Creación de gráficos y visualización - Ricard

## 1. Introducción a Jupyter Notebooks

<img src="Figures/Jupyter.png" alt="Drawing" style="width: 200px;"/>

Jupyter notebooks es un entorno (IDE) que nos permite intercalar contenido de texto (se llamará cela 'Markdown') con código Python (tipo de cela 'Code') que se puede ejecutar cela por cela como se puede ver en los siguientes ejemplos. 

Los comando básicos para poder seguir este curso y empezar a usar Jupyter Notebooks son:

<img src="Figures/menu.png" alt="Drawing" style="width: 500px;"/>

* `Shift+Enter`: Ejecutar cela y seleccionar siguiente cela
* `Alt+Enter`: Ejecutar cela y insertar una cela nueva
* `ESC`: para entrar en modo 'command'. Una vez en este modo:
    * `H` lista de comandos
    * `A` insertar cela debajo
    * `B` insterar cela arriba
    * `D,D` D dos veces eleimina la cela
    * `Y` cambiar cela a tipo 'Code'
    * `M` cambiar cela a 'Markdown'
    * `Enter`pasar a modo edit

#### Ejecutar la cela de debajo usando alguno de los comandos aprendidos

In [ ]:
3 + 4 + 9

In [ ]:
# Ejemplo de código en Python
# Cambiar los valores de a y b, y observar el resultado al ejecutar la cela 

a=87
b=34
c=a+b

print('El resultado de sumar {} y {} es {}.'.format(a,b,c))

## 2. Variables y estructuras de datos

Las variables en Python se crean cuando se definen por primera vez, es decir, cuando se les asigna un valor por primera vez (utilizando el operador <code> = </code>). Por esta razón, en Python no hace falta declarar las variables. 

Los principales tipos de variables que se pueden encontrar son:
* **Numéricas**
    * **Integer (int):** Números naturales positivos y negativos.
    * **Float:** Números reales.
    * **Complex:** Números complejos. La parte imaginaria se multiplica por `j` para representar la raíz de `-1`. Por ejemplo: <code>a = 2+3j</code>
* **Boleanas**
    Son variables que pueden tomar como valor cierto o falso, representados en Python por `True` y `False` usando mayúsculas.
* **Estructuras de datos (secuencias de datos)**
    Lista ordenada de valores del mismo o distinto tipo. En Python existen:
    * **String:** cadenas de texto
    * **Lista:** conjuntos ordenados de elementos
    * **Tupla:** conjuntos ordenados e inmutables de elementos
    * **Diccionario:** conjuntos de elementos caracterizados por un identificador y un valor

Existen algunas reglas generales para los nombres de variables:
+ Se usan solo letras, números y "guiones bajos" (_)
+ NO se usan espacios en ningún lugar del nombre
+ El nombre no puede empezar con un número
+ Las letras mayúsculas se tratan como distintas de las minúsculas (es decir, Python distingue entre mayúsculas y minúsculas)

In [ ]:
3a = 10

Cada vez que se crea o modifica una variable, Python interpreta qué tipo de variable es. Cuando se asigna un nuevo valor a un objeto existente (*escritura dinámica*), los valores anteriores de ese objeto se borran de la memoria de la computadora. El primer valor de **a** es el número real 13.0, pero después de una nueva asignación:

In [ ]:
a = 13.0
a = 'b'
print(a)

La función *type()* muestra el TIPO del dato que le pasamos como argumento:

In [ ]:
# Declarar una variable a y mirar qué tipo de variable es utilizando "type(nombre_variable)"

a=2
type(a)

In [ ]:
# Probar de declarar otro tipo de variable y mirar qué tipo es

a=2.0
type(a)

## 2.1 Tipos y operadores básicos

Los operadores básicos en Python son:

+ Suma (también para strings, tuplas o listas): <code>a + b</code>
+ Resta: <code>a - b</code>
+ Multiplicación (también para strings, tuplas y listas): <code>a * b</code>
+ División: <code>a / b</code>
+ Division entera: <code>a // b</code>
+ Resto de la división o residuo: <code>a % b</code>
+ Exponencial: <code>a ** b</code>
+ Asignamiento: <code>=</code>, <code>-=</code>, <code>+=</code>,<code>/=</code>,<code>*=</code>, <code>%=</code>, <code>//=</code>, <code>**=</code>
+ Comparaciones booleanas: <code>==</code>, <code>!=</code>, <code><</code>,<code>></code>,<code><=</code>, <code>>=</code>
+ Operaciones booleanas: <code>and</code>, <code>or</code>, <code>not</code>
+ Operaciones para comprobar pertenecencia: <code>in</code>, <code>not in</code>
+ Operaciones para identificar objetos: <code>is</code>, <code>is not</code>
<!-- + Bitwise operators (or, xor, and, complement): <code>|</code>, <code>^</code>, <code>&</code>, <code>~</code> -->
<!-- + Left and right bit shift: <code><<</code>, <code>>></code> -->

### Python como calculadora

Python tiene una notación concisa para la aritmética que se parece mucho a la forma tradicional de escribir operaciones.

In [ ]:
a = 3+2
b= 3.5 * -8
c = 10/6
print(a, b, c, 10./6.)

In [ ]:
# Ejemplo

a = 12
b = 13.3
c = a + b
print (c, type(a), type(b), type(c))

### Módulos 

Algunas funciones matemáticas más complejas no están disponibles en el módulo básico de Python y deben importarse desde un módulo específico. Para importar librerías, solo se debe escribir "import + el nombre de la librería".

<img src="Figures/python_import.jfif" alt="Drawing" style="width: 250px;"/>

En cada caso se deberá leer bien la documentación de las librerías usadas para concocer sus características y saber como implementarlas. Por ejemplo, para math:

https://docs.python.org/3/library/math.html

In [ ]:
import math   # solo se ejecutará si la librería no ha estado importada previamente
print(math.pi + math.sin(100) + math.ceil(2.3))

### Operadores booleanos

In [ ]:
a = 4
b = 40
(a>2) and (b>30)

In [ ]:
(a>2) or (b>100)

In [ ]:
not(a>2)

## 2.2 Estructuras de datos

### Strings o cadenas de texto

El texto en Python se trata como una lista de carcateres. De esta manera, la metodología que aplica al tratamiento de listas, puede ser aplicada a las cadenas de texto.

In [ ]:
a = 'python'
type(a)

In [ ]:
print("Hello" )

In [ ]:
print("Esto es 'un ejemplo' de como usar comillas dentro de un texto que se escribe entre comillas dobles")
print('Aquí tenemos "otro ejemplo" pero ahora al revés')

Para juntar cadenas de carácteres se puede usar el operador '+':

In [ ]:
a = 'He'
b = 'llo'
c = a+b+'!'
print(c)

Para acceder a solo una parte de una lista o, en este caso, de una *string*, se usa la técnica denominada **slicing**. El formato a seguir para coger solo una parte de la string es el siguiente:

# <center>nombre_variable[indice_primer_elemento:indice_final:step]</center>

Donde el funcionamiento de los índices se pueden ver en la siguiente imagen

![Slicing1](Figures/slicing1.png)

In [ ]:
#Ejemplos
a = 'Python'
print(a[:], a[0], a[2:], a[:3], a[2:4], a[::2], a[1::2])

#### Ejercicio
Con una línia de codigo, conseguir los siguientes sets de caracteres:
- Primera letra.
- De la letra 2 a la 4
- Úlimas 3 letras
- Solo las letras en posición par, des de la número 4 al final
- Todo el texto al revés

In [ ]:
texto = "Texto de prueba para hacer el ejercicio"
primera_letra = print(texto[0])

En el caso de los *strings* hay métodos en Python que vienen por defecto que nos pueden ser útiles. Por ejemplo las funciones siguientes:
- len: devuelve la longitud el texto.
- str: convierte eun número en string.
- reverse: devuelve el texto al revés.

Para usar una fucnión se pondrá nombre_de_la_función(nombre_variable)

También podemos usar métodos propios para strings:
- lower: convierte todo el texto en mínusculas.
- upper: convierte todo el texto en mayúsculas.
- capitalize: pone en mayúsculas la primera letra del string.
- split(delimitador): devuelve una lista de substrings separados por el delimitador indicado (ver ejemplos más adelante)

Para usar un método se pondrá nombre_variable.nombre_del_métdodo

In [ ]:
texto='vamos a hacer pruebas con las funciones y métodos de Strings!'
print(len(texto))
print(texto.lower())
print(texto.split(' '))
# En una línia, devuelve la 4a palabra del texto todo en mayúsculas!

### Lists

Las listas son un tipo de Python que sirven para agrupar objetos de otros tipos (incluso listas!). Por ejemplo una lista de números, de floats, de strings, de otras listas, etc. 

Las listas, como los strings, pueden usar la metodología de *slicing*

In [32]:
l=[]
type(l)

list

In [31]:
# Crear lista
mi_lista = [0,5,'6',34,'Hola']
mi_lista

[0, 5, '6', 34, 'Hola']

In [30]:
# Acceder a un elemento de la lista
a = mi_lista[2]
a

'máster'

In [29]:
# Canviar un elemento de una lista
mi_lista[-1]='Adiós'
mi_lista

['adiós', 'hola', 'máster', 'primero', 'segundo', 'Adiós']

In [ ]:
# Podemos tener lista de listas!
mi_lista=[45,[3,5,6],'palabra',34.6,['a','b','c']]
print(mi_lista)
print(mi_lista[1])
print(mi_lista[1][2])
# acceder a la letra c!

Para las listas también hay funciones y métodos en Python que vienen por defecto que nos pueden ser útiles. Por ejemplo las funciones siguientes:
- len: devuelve la longitud de la lista.
- list: crear lista

Para usar una fucnión se pondrá nombre_de_la_función(nombre_variable)

También podemos usar métodos propios para listas:
- append: añadir elemento al final de la lista.
- insert: añdir un elemento en una posición particular.
- pop: quitar el último elemento de la lista.
- remove: quitar un elemento en particular.
- sort: ordenar la lista

Para usar un método se pondrá nombre_variable.nombre_del_métdodo

In [28]:
mi_lista=['primero','hola','prueba','adiós','zoológico','máster']
print(mi_lista)
mi_lista.append('último')
print(mi_lista)
mi_lista.insert(1,'segundo')
print(mi_lista)
mi_lista.pop()
print(mi_lista)
mi_lista.remove('prueba')
print(mi_lista)
mi_lista.sort()
print(mi_lista)

['primero', 'hola', 'prueba', 'adiós', 'zoológico', 'máster']
['primero', 'hola', 'prueba', 'adiós', 'zoológico', 'máster', 'último']
['primero', 'segundo', 'hola', 'prueba', 'adiós', 'zoológico', 'máster', 'último']
['primero', 'segundo', 'hola', 'prueba', 'adiós', 'zoológico', 'máster']
['primero', 'segundo', 'hola', 'adiós', 'zoológico', 'máster']
['adiós', 'hola', 'máster', 'primero', 'segundo', 'zoológico']

### Dictionaries

Un diccionario es otra manera de agrupar datos donde se puede acceder a un *element* a través de su *key*. Por ejemplo:

In [14]:
esta_instalacion = {
    'Potencia': 10,
    'Tipo': 'Solar',
    'Año_construccion':2012
}

In [17]:
esta_instalacion['Tipo']

'Solar'

Otro ejemplo podría ser:

In [7]:
dict = {"Instalacion_1": "Solar", "Instalacion_2": "Eólica", "Instalacion_3": "Eólica", "Instalacion_4": "Hidráulica", "Instalacion_5": "Solar",}
print(dict)

{'Instalacion_1': 'Solar', 'Instalacion_2': 'Eólica', 'Instalacion_3': 'Eólica', 'Instalacion_4': 'Hidráulica', 'Instalacion_5': 'Solar'}

Para acceder a algun elemento, modificar o añadir, se podrá hacer de forma parecida a las listas:

In [27]:
#acceder
dict["Instalacion_1"]

['Solar', '10 MW']

In [10]:
# modificar
print(dict)
dict["Instalacion_1"]="Eólica"
print(dict)

{'Instalacion_1': 'Eólica', 'Instalacion_2': 'Eólica', 'Instalacion_3': 'Eólica', 'Instalacion_4': 'Hidráulica', 'Instalacion_5': 'Solar'}
{'Instalacion_1': 'Eólica', 'Instalacion_2': 'Eólica', 'Instalacion_3': 'Eólica', 'Instalacion_4': 'Hidráulica', 'Instalacion_5': 'Solar'}

In [11]:
print(dict)
dict["Instalacion_6"]="Solar"
print(dict)

{'Instalacion_1': 'Eólica', 'Instalacion_2': 'Eólica', 'Instalacion_3': 'Eólica', 'Instalacion_4': 'Hidráulica', 'Instalacion_5': 'Solar'}
{'Instalacion_1': 'Eólica', 'Instalacion_2': 'Eólica', 'Instalacion_3': 'Eólica', 'Instalacion_4': 'Hidráulica', 'Instalacion_5': 'Solar', 'Instalacion_6': 'Solar'}

Los diccionarios pueden contener todos los tipos (int, floats, listas, otros diccionarios, etc.)

In [26]:
dict = {"Instalacion_1": ["Solar", '10 MW'], "Instalacion_2": ["Eólica", '15 MW'], "Instalacion_3": ["Solar", '18 MW'], "Instalacion_4": ["Hidráulica", '12 MW'], "Instalacion_5": ["Solar", '23 MW'], "Instalacion_6": ["Eólica", '8 MW'],"Instalacion_7": ["Solar", '11 MW'], "Instalacion_8": ["Hidráulica", '11 MW']}
dict

{'Instalacion_1': ['Solar', '10 MW'],
 'Instalacion_2': ['Eólica', '15 MW'],
 'Instalacion_3': ['Solar', '18 MW'],
 'Instalacion_4': ['Hidráulica', '12 MW'],
 'Instalacion_5': ['Solar', '23 MW'],
 'Instalacion_6': ['Eólica', '8 MW'],
 'Instalacion_7': ['Solar', '11 MW'],
 'Instalacion_8': ['Hidráulica', '11 MW']}

In [33]:
dict['Instalacion_3'][1]

'18 MW'

In [ ]:
#Suma 3 MW a la instalación 4 y modifica el diccionario!

### Tuples

Tuples son listas **que no permiten ser modificadas!**. 

Su sintaxis es igual que en las listas, però para escribir una tupla se usan paréntesis y no corchetes.

In [36]:
misupertupla = ('Solar', 'Eólica', 'Hidráulica', 'Gas', 'Nuclear', 'NoQueremosMásCarbón')
print(type(misupertupla), misupertupla[4:])

<class 'tuple'> ('Nuclear', 'NoQueremosMásCarbón')

In [37]:
misupertupla[0]='PV'

TypeError: 'tuple' object does not support item assignment

Access to the functions, variables and classes of a module depends on the way the module was imported:

## 3. Estructuras condicionales (if)

Las estructuras de control condicionales permiten ejecutar una parte del código o otro en función de la evaluación de una o varis condiciones booleanas de SI o NO (**<code>TRUE</code>** o **<code>FALSE</code>**).

En Python, las estructuras de control condicionales se definen mediante las palabras **<code>if</code>**, **<code>elif</code>** y **<code>else</code>**.

- **<code>if CONDICION:</code>** si se cumple la expresión condicional se ejecuta el bloque de código a continuación.
- **<code>elif CONDICION:</code>** de lo contrario, si se cumple esta expresión condicional se ejecuta este otro bloque de código.
- **<code>else:</code>** de lo contrario, se ejecuta este bloque de código a continuación sin evaluar ninguna condición.


La condición es normalmente evaluada mediante los siguientes operadores relacionales <code> <, <=, ==, >=, >, != </code>.

In [ ]:
#Ejemplo

celsius = 35
fahrenheit = 9.0 /5.0 * celsius + 32

print("La temperatura en Fahrenheit es", fahrenheit)

if fahrenheit > 90:
    print("Hace calor")
elif fahrenheit < 30:
    print("Hace frío")
else: print("No hace ni frío ni calor.")

#### Ejercicio

Crear un código para identificar si la variable **<code>numero</code>** es un numero positivo, negativo, o de valor 0. Guardar el resultado en una variable llamada **<code>numero</code>**

In [ ]:
numero = 2

## 4. Listas y loops

### 4.2 Estructuras de control iterativas (for & while)

Las estructuras de control iterativas (también llamadas bucles o loops), permiten ejecutar un mismo código de manera repetida mientras se cumpla una condición.

Existen dos tipos de estructuras de control iterativas:

* For
* While

La sentencia ``for`` de Python itera sobre los elementos de cualquier secuencia (una lista o una cadena de caracteres por ejemplo), en el orden que aparecen en la secuencia.

El ciclo ``while`` permite realizar múltiples iteraciones basándose en el resultado de una expresión lógica que puede tener como resultado un valor ``True`` o ``False``.

In [ ]:
#Ejemplo de for

for i in range(0,10,1):
    print(i)

In [ ]:
#Ejemplo de while

i=0
while i < 10 :
    print(i)
    i= i+1

**``If``** statesments can be combined with **loops** (``for``, ``while``):

In [ ]:
numbers = [-5, 3,2,-1,9,6]
total = 0

for n in numbers:
    if n >= 0:
        total += n

print(total)

In [ ]:
def average(a):
    sum = 0.0
    for i in a:
        sum = sum + i
    return sum/len(a)

average([1,2,3,4])

In [ ]:
def main(n):
    cont = 0
    while (int(n) > 0):
        cont += 1
        n = n/2
#        print n
    return cont-1

main(10)
# main(10.3)

### 4.3 Lists (and dictionary) comprehensions

Lists comprehensions are a way to fit a ``for`` loop, an ``if`` statement, and an assignment all in one line.

A list comprehension consists of the following parts:

+ An input sequence.
+ A variable representing members of the input sequence.
+ An optional expression.
+ An output expression producing elements of the output list from members of the input sequence that satisfy the predicate.

Map and filter can be rewrite like list comprehensions

In [ ]:
num = [1, 4, -5, 10, -7, 2, 3, -1]
squared = [] #No pythonic! 4 lines, not just easy one! One iteration
for i in num:
     if i > 0:
        squared.append(i**2)
print(type(squared), squared)

squared = [ x**2 for x in num if x > 0] # One itaration, first checks if it is true and then makes the computation
print(type(squared), squared)

squar2= map(lambda x: x**2 ,filter(lambda x: x>0, num))  ## Two iterations over num and over filtered list
print(type(squared),list(squar2))

+ Rewrite the previous map and filter examples using list comprhensions:

In [ ]:
#TODO here!


* Iterating through two lists (using zip) vs nested fors vs Directories

In [ ]:
values1 = ['a','b','c','d']
values2 = [1,2,3,4]

print ([(i,j) for i in values1 for j in values2])

print ([(i,j) for i,j in zip(values1,values2)])

print ( {i:j for i,j in zip(values1,values2)} )

## 5. Diccionarios y tablas de frecuencia

Los diccionarios son muy útiles para contar elementos en una lista, y crear una distribución de estos mediante una tabla de frecuencia. A continuación se puede observar un ejemplo donde se quiere saber qué número del 1 al 9 aparece más veces en una lista desordenada de números.

In [1]:
mi_lista = [2,3,5,2,5,6,7,8,1,2,3,4,5,2,8,9,5,2,4,6,9,1,2,1,3,6,7,4,3,1,2,9,7,5,4,3,1,2,9,5,4,2,7,9,5,3,4,6,7,3,3,4,5]

In [4]:
# Creamos un diccionario vacío 
freq = {} 
for numero in mi_lista: 
    if (numero in freq): 
        freq[numero] += 1
    else: 
        freq[numero] = 1

for key, value in freq.items(): 
    print ("% d : % d"%(key, value))

 2 :  9
 3 :  8
 5 :  8
 6 :  4
 7 :  5
 8 :  2
 1 :  5
 4 :  7
 9 :  5

De una lista de instalaciones, obtenemos estas tipologías de plantas de generación. ¿Qué tecnología tiene más plantas instaladas? 

¿Detectas algún problema con los nombres? ¿Cómo lo solucionarías?

In [10]:
instalaciones = ['Eólica', 'Solar', 'Hidráulica', 'Solar', 'Eólica', 'Hidráulica', 'Gas Natural', 'Solar', 'Eólica', 'Solar', 'Nuclear', 'Solar', 'Hidráulica', 'Hidráulica', 'Solar', 'Carbón', 'Eólica', 'Eólica', 'Solar', 'Solar', 'Solar', 'Hidráulica', 'Gas Natural', 'Hidráulica', 'Nuclear', 'Eólica', 'Eólica', 'Solar', 'Eólica', 'Gas Natural', 'Hidráulica', 'hidráulica', 'Solar', 'Eólica', 'Hidráulica', 'Solar', 'Eolica', 'Solar','eolica', 'Eólica', 'Solar', 'Solar', 'Hidráulica', 'Gas Natural', 'Solar', 'Gas Natural', 'Nuclear', 'eólica', 'Hidráulica', 'Hidráulica', 'Solar']
instalaciones

['Eólica',
 'Solar',
 'Hidráulica',
 'Solar',
 'Eólica',
 'Hidráulica',
 'Gas Natural',
 'Solar',
 'Eólica',
 'Solar',
 'Nuclear',
 'Solar',
 'Hidráulica',
 'Hidráulica',
 'Solar',
 'Carbón',
 'Eólica',
 'Eólica',
 'Solar',
 'Solar',
 'Solar',
 'Hidráulica',
 'Gas Natural',
 'Hidráulica',
 'Nuclear',
 'Eólica',
 'Eólica',
 'Solar',
 'Eólica',
 'Gas Natural',
 'Hidráulica',
 'hidráulica',
 'Solar',
 'Eólica',
 'Hidráulica',
 'Solar',
 'Eolica',
 'Solar',
 'eolica',
 'Eólica',
 'Solar',
 'Solar',
 'Hidráulica',
 'Gas Natural',
 'Solar',
 'Gas Natural',
 'Nuclear',
 'eólica',
 'Hidráulica',
 'Hidráulica',
 'Solar']

## 6. Funciones

## 6.1 Funciones

Una función es un bloque de código con un nombre asociado, que recibe cero o más argumentos como entrada, sigue una secuencia de sentencias donde se ejecutan las operaciones deseadas y devuelve un valor y/o realiza una tarea. Este bloque de código puede ser llamado cuando se necesite.

En Python existen una serie de funciones integradas por defecto al lenguaje, pero también se pueden crear funciones definidas por el usuario para utilizarlas en sus propios programas. Para crear una función en python, se debe utilizar la palabra ``def`` para definir la función.

In [15]:
#Ejemplo de función integrada en Python

# La función input() nos permite asignar a una variable un valor ingresado por el usuario

a = input()

print('La variable introducida ha sido ' + a)

3
La variable introducida ha sido 3

In [10]:
def head(list):     #parameters separated by comma
    return list[0]  #Identation means inside functions

numbers=[1,2,3,4]
print(head(numbers), numbers)

1 [1, 2, 3, 4]

In [ ]:
def change_first_element(list):
    list[0]=0 #it returns none!

numbers=[1,2,3,4]
change_first_element(numbers)
print(numbers)

If we return a list we are returning a reference:

In [ ]:
def tail(list):
    return list[1:]     # we are creating a new list

numbers=[1,2,3,4]
rest = tail(numbers)
print(rest, numbers)
print(id(rest), id(numbers))

In [ ]:
# Press tab
numbers.reverse()
print(numbers)

Sometimes it is important to perform a *sanity check* about what is doing a pre-defined function:

In [ ]:
numbers=[1,2,3,4]
def test(l):
    return l.reverse() #Reverse return NONE! 
print(numbers)
print(numbers, test(numbers)) #Reverses changes the list INPLACE if we don't make a copy we will  alter the original numbers

In [ ]:
numbers=[1,2,3,4]

def test(l):
    l.reverse() #Reverse changes the list INPLACE, if we don't make a copy we will  alter the original numbers 
    return l

print(numbers, test(numbers))
print(id(numbers), id(test(numbers)))

In [ ]:
numbers=[1,2,3,4]

def test(l):
    a=l[:]
    l.reverse() #Reverse changes the list INPLACE, if we don't make a copy we will alter the original numbers 
    return a

print(numbers, test(numbers))
print(id(numbers), id(test(numbers)))

In [ ]:
?list.reverse

## 6.2 Ejemplos de funciones

#### Factorial

The factorial of a non-negative integer $n$, denoted by $n!$, is the product of all positive integers less than or equal to $n$.

In [ ]:
def factorial(n):
    fact = 1
    for factor in range(n,0,-1):
        fact = fact * factor
    return fact

In [ ]:
factorial(100)

#### Fibonacci

The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

The general rule to compute the sequence is very simple: The next number is found by adding up the two numbers before it.

In [ ]:
def fib1(n):
    if n==1:
        return 1
    if n==0:
        return 0
    return fib1(n-1) + fib1(n-2)

fib1(20)

# this function cannot compute fib(100)

In [ ]:
def fib2(n):
    a, b = 0, 1
    for i in range(1,n+1):
        a, b = b, a + b
    return a

n = 1000
if n<15:
    print(fib1(n))
else: 
    print(fib2(n))

#### Greatest Common Divisor

The greatest common divisor of two positive integers $a$ and $b$ is the largest divisor common to $a$ and $b$.  The Euclidean algorithm, or Euclid's algorithm, is an interative method for computing the greatest common divisor of two integers. 

+ If $a<b$, exchange $a$ and $b$.
+ Divide $a$ by $b$ and get the remainder, $r$. If $r=0$, report $b$ as the GCD of $a$ and $b$.
+ Replace $a$ by $b$ and replace $b$ by $r$. If $r \neq 0$ iterate.

In [ ]:
def gcd(a,b): # Euclides algorithm v1.0: pseudocode translation
    r = 1
    while r != 0:
        if a<b:
            c=a
            a=b
            b=c
        r = a%b 
        if r == 0:
            return b
        else:
            a = b
            b = r

gcd(100,16)

In [ ]:
def gcd(a,b):   # Euclides algorithm v2.0: idiomatic Python
    while a:
        a, b = b%a, a
    return b

gcd(100,16)

In [ ]:
a = 0
a == False

## 7. Funciones avanzadas

En este apartado se verá como en alguna ocasiones, hay funciones simples que solo queremos usar una vez. Este uso no parece muy apropiado para las funciones de las que hemos hablado hasta ahora... Vamos a ver primer ejemplos dónde este tipo de funciones nos pueden ser de utilidad. Se trata de las funciones <code>map, filter y reduce<code>

### 7.1 Map

Con un "map" podemos aplicar una función a toda una lista de inputs. Por ejemplo si queremos coger una lista de números y aplicar el cuadrado a todos sus elementos podríamos hacer:

In [15]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(items)
print(squared)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

Usando ``Map`` , tendríamos:

In [34]:
def square_item (x):
    return x**2
squared = list(map(square_item, items))
print(items)
print(squared)

[2, 5, -6, 4, -1, 2, 7, -8, 3, 4, 7, 0, -1, -4, 0, 4, 6, -8, 0, 1]
[4, 25, 36, 16, 1, 4, 49, 64, 9, 16, 49, 0, 1, 16, 0, 16, 36, 64, 0, 1]

Como se puede ver ``map`` es una función que acepta una función como argumento

``map(funcion a aplicar, lista de entrada)``

### 7.2 Filter

La función filter de una manera similar, devuelve una lista con aquellso elementos de una lista de entrada que cumple una cierta codició (filtra la lista de etrada con una condición determinada). Véamos como ejemplo, si queremos quitar los elementos negativos de una lista y quedarnos solo con los positivos y que sean pares

In [32]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
positivos=[]
for item in items:
    if item>=0:
        if item % 2 == 0:
            positivos.append(item) 
print(items)
print(positivos)

[2, 5, -6, 4, -1, 2, 7, -8, 3, 4, 7, 0, -1, -4, 0, 4, 6, -8, 0, 1]
[2, 4, 2, 4, 0, 0, 4, 6, 0]

In [33]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
def es_positivo(x):
    return x>=0 and x%2==0
positivos=list(filter(es_positivo, items))
print(items)
print(positivos)

[2, 5, -6, 4, -1, 2, 7, -8, 3, 4, 7, 0, -1, -4, 0, 4, 6, -8, 0, 1]
[2, 4, 2, 4, 0, 0, 4, 6, 0]

Se puede observar como su sitaxis es muy parecisa a la funció ``map``, pero usando ahora ``filter``

``filter(funcion a aplicar, lista de entrada)``

### 7.3 Reduce

La función ``Reduce`` será muy útil cuando se quiera hacer un cálculo sobre una lista y obtener el resultado. Por ejemplo si queremos obtener el resultado de multiplicar los números de una lista haríamos:

In [39]:
producto = 1
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
for num in lista:
    producto = producto * num
print(producto)

1600300800

Usando ``reduce``:

In [43]:
from functools import reduce
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
def multiplicar(x,y):
    return x*y
producto = reduce(multiplicar, lista)
print(producto)

1600300800

Vemos que para usar ``reduce`` se tiene que importar de ``functools`` y que tiene una sintaxis idética a los ateriores casos:
``reduce(funcion a aplicar, lista de entrada)``

### 7.4 Funciones Lambda 

En todos estos casos hemos visto como consegumos comprimir el código, pero siempre tenemos que definir fuciones, normalmente muy simple, solo para ser usadas una vez. Para estas ocasiones, existen las ``funciones anónimas`` o ``lambda functions``. Estas se pueden definir y usar en la misma línia, y nos ahorramos un montón de tiempo!!

Su sintaxis es:

``lambda entradas: salida``

Vamos a volver a escribir las mismas funciones que antes, perpo usado estas funciones para verlo más claro con ejemplos:

In [45]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x:x**2, items))
print(items)
print(squared)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [48]:
items=[2,5,-6,4,-1,2,7,-8,3,4,7,0,-1,-4,0,4,6,-8,0,1]
positivos=list(filter(lambda x: x>=0 and x%2==0, items))
print(items)
print(positivos)

[2, 5, -6, 4, -1, 2, 7, -8, 3, 4, 7, 0, -1, -4, 0, 4, 6, -8, 0, 1]
[2, 4, 2, 4, 0, 0, 4, 6, 0]

In [51]:
from functools import reduce
lista = [1,5,7,3,4,9,1,4,7,5,3,9,8,7,2]
producto = reduce(lambda x,y: x*y, lista)
print(producto)

1600300800

#### Ejercicio

Dada una lista de nombres de clientes, devolver la lista con todos los nombres con la primera letra en mayúsculas

In [54]:
nombres = ['jordi', 'arnau', 'laia', 'pedro', 'juan', 'pau', 'noemi', 'arya', 'marti', 'lyanna', 'miquel', 'joana', 'ricard', 'daenerys', 'alexandra']
# vuestro código aquí!

#### Otros usos

Hay más ocasiones donde una función pide otra función como argumeto, dode usar una función lambda será muy útil. Por ejemplo, si miramos la documentación de la función ``sorted`` que viene en Python por defecto:

https://docs.python.org/3/library/functions.html#sorted

In [65]:
desordenado = ['Martí','Anna','daniel','Pau','berta','Roberto','Xavier', 'alexandra']
sorted(desordenado)

['Anna', 'Martí', 'Pau', 'Roberto', 'Xavier', 'alexandra', 'berta', 'daniel']

Si especificamos una función en el apartado ``key`` opcional:

In [64]:
sorted(desordenado, key=lambda x: x.lower())

['alexandra', 'Anna', 'berta', 'daniel', 'Martí', 'Pau', 'Roberto', 'Xavier']

## 8. Lenguaje orientado a objetos

### Objects

You can define your own classes and objects.

In [ ]:
#creating a class

class Rectangle:
    def __init__(self,x,y):
        self.x = x
        self.y = y
    description = "This shape has not been described yet"
    author = "Nobody has claimed to make this shape yet"
    def area(self):
        return self.x * self.y
    def perimeter(self):
        return 2 * self.x + 2 * self.y
    def describe(self,text):
        self.description = text
    def authorName(self,text):
        self.author = text
    def scaleSize(self,scale):
        self.x = self.x * scale
        self.y = self.y * scale

#creating objects
a = Rectangle(100, 45)
b = Rectangle(10,230)

#describing the rectangles
a.describe("A fat rectangle")
b.describe("A thin rectangle")

In [ ]:
#finding the area of your rectangle:
print(a.area())
 
#finding the perimeter of your rectangle:
print(a.perimeter())

#getting the description
print(a.description)
print(a.author)

In [ ]:
#finding the area of your rectangle:
print(b.area())
print(b.description)

#making the rectangle 50% smaller
b.scaleSize(0.5)
b.describe("A small thin rectangle")
 
#re-printing the new area of the rectangle
print(b.area())
print(b.description)

Ejemplo de classe: https://pypi.org/project/UnladenSwallow/

In [ ]:
class AirSpeedVelocityOfAnUnladenSwallow:
    """Class for the airspeed velocity of an unladen swallow."""

    species = 'European'
    meters_per_second = 11
    miles_per_hour = 24
    source = 'http://style.org/unladenswallow/'

    def what_is_the_airspeed_velocity_of_an_unladen_swallow(self):
        """Return the airspeed velocity of an unladen swallow."""
        answer = (
            'The airspeed velocity of a {0} swallow is {1} meters per '
            'second or {2} miles per hour. See {3} for more information.'
        ).format(
            self.species,
            self.meters_per_second,
            self.miles_per_hour,
            self.source)

        return answer

a = AirSpeedVelocityOfAnUnladenSwallow()
a.what_is_the_airspeed_velocity_of_an_unladen_swallow()

## 9. Introducción a NumPy

## 10. Introducción a Pandas

Padas es de las librerías más importantes en Python para Data Science!!! Básicamente nso permitirá tener ``Datasets`` abiertos como si se trataran de una hoja de cálculo en el excel, es decir, en forma matricial con dos dimensiones y con columnas e idices indexados.

<img src="Figures/Pandas.jpg" alt="Drawing" style="width: 800px;"/>

Pandas sirve para:
* Operar en todo el dataset o a una fila o columna (vectores) con alta eficiencia computacional
* Ayuda a la limpieza de datos y solucionar datos inexistentes
* Acceder a subsets de datos
* Añadir o eliminar columnas con nuevas características.
* Agrupar datos por características.
* Muy eficiente juntando datos de distintas fuentes.
* Trabajar con series temporales.

### 10.1 Leer datos de un csv

La mayoría de las veces cargaremos los archivos a través de un archivo .csv. A continuación podeis ver el código básico que se usará casi siempre:

In [2]:
import pandas as pd #importamos Pandas!
londres = pd.read_csv('Data/block_13_diario.csv')
londres.head(5)

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134

### 10.2 Inspección datos

Si queremos saber qué dimensiones tiene este DataFrame, podemos mirar su 'forma'

In [3]:
londres.shape

(32992, 9)

Hay 32992 entradas y 9 características para cada entrada.

Puede ser muy útil ver las primeras o últimas entradas del dataset para entender mejor estos datos:

In [4]:
londres.head()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000113,2011-12-14,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
1,MAC000113,2011-12-15,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2,MAC000113,2011-12-16,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
3,MAC000113,2011-12-17,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
4,MAC000113,2011-12-18,0.3985,0.565333,2.218,48,0.450712,27.136,0.134

In [5]:
londres.tail()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
32987,MAC005416,2014-02-24,0.0660,0.111437,0.809,48,0.126465,5.349,0.050
32988,MAC005416,2014-02-25,0.0645,0.072521,0.238,48,0.030756,3.481,0.051
32989,MAC005416,2014-02-26,0.0675,0.107917,0.343,48,0.080074,5.180,0.049
32990,MAC005416,2014-02-27,0.0910,0.104250,0.296,48,0.054844,5.004,0.047
32991,MAC005416,2014-02-28,0.0630,0.063000,0.063,1,NaN,0.063,0.063

Si queremos saber el nombre de las columnas o índices, podemos acceder a ellos:

In [6]:
londres.columns

Index(['LCLid', 'day', 'energy_median', 'energy_mean', 'energy_max',
       'energy_count', 'energy_std', 'energy_sum', 'energy_min'],
      dtype='object')

In [7]:
londres.columns[4]

'energy_max'

In [8]:
londres.index

RangeIndex(start=0, stop=32992, step=1)

Por útlimo, para tener un resumen muy bueno, es muy util el metodo ``describe``

In [9]:
londres.describe()

,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
count,32992.000000,32992.000000,32992.000000,32992.000000,32865.000000,32992.000000,32992.000000
mean,0.165632,0.223007,0.879596,47.776128,0.182819,10.660024,0.064419
std,0.158396,0.178484,0.672407,3.035524,0.147394,8.565058,0.076632
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.052000,0.085432,0.348000,48.000000,0.069162,4.046000,0.016000
50%,0.118500,0.176844,0.775000,48.000000,0.149607,8.458000,0.035000
75%,0.225000,0.311276,1.248000,48.000000,0.264400,14.910500,0.093000
max,1.608000,1.407458,6.897000,48.000000,1.104101,67.558000,1.068000

### 10.3 Seleccionar datos

Si queremos trabajar o seleccionar solo con una parte del dataset, podemos usar **[]** después del nombre del dataset, e indicar qué columnas se desean seleccionar.

In [14]:
londres['day']

0        2011-12-14
1        2011-12-15
2        2011-12-16
3        2011-12-17
4        2011-12-18
            ...
32987    2014-02-24
32988    2014-02-25
32989    2014-02-26
32990    2014-02-27
32991    2014-02-28
Name: day, Length: 32992, dtype: object

Si, por el contrario se quiere seleccionar una parte de las filas, se indicará usando *slicing* como en los strings:

In [16]:
londres[10:17]

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
10,MAC000113,2011-12-24,0.1745,0.175750,0.272,48,0.040037,8.436,0.120
11,MAC000113,2011-12-25,0.1775,0.177917,0.281,48,0.041313,8.540,0.122
12,MAC000113,2011-12-26,0.1835,0.182021,0.266,48,0.041469,8.737,0.122
13,MAC000113,2011-12-27,0.1840,0.183667,0.290,48,0.043745,8.816,0.123
14,MAC000113,2011-12-28,0.1845,0.181021,0.259,48,0.039440,8.689,0.115
15,MAC000113,2011-12-29,0.2455,0.546000,2.305,48,0.497169,26.208,0.120
16,MAC000113,2011-12-30,0.6130,0.660000,1.608,48,0.374306,31.680,0.137

#### loc vs iloc

Para seleccionar partes más específicas (más de una columna, varias columnas y solo unas filas de éstas,...), se usará la indexación con el loc o iloc. La única diferencia entre los dos, es que el primero se basa en el *label* de las filas o columnas, mientras que iloc se basa en el *integer* de estas. Con un ejemplo se entiende mejor:

In [18]:
londres.loc[3:5,['day', 'energy_max']]

          day  energy_max
3  2011-12-17       1.068
4  2011-12-18       2.218
5  2011-12-19       2.204

In [21]:
londres.iloc[3:5,1:3]

          day  energy_median
3  2011-12-17         0.2570
4  2011-12-18         0.3985

Se debe tener en cuenta que el índice no será siempre un número y puede tratar-se de otro parámetro. Por ejemplo, podemos poner el día como índice.

### 10.4 Filtrar datos

Otra manera de seleccionar solo una parte del dataset es aplicar *Boolena indexing*, que no es nada más que aplicar un filtro a los datos. Por ejemplo, vamos a seleccionar solo aquellos días en los que la energia máxima ha sido mayor a 1.

In [26]:
londres['energy_max'] > 1

day
2011-12-14     True
2011-12-15     True
2011-12-16     True
2011-12-17     True
2011-12-18     True
              ...
2014-02-24    False
2014-02-25    False
2014-02-26    False
2014-02-27    False
2014-02-28    False
Name: energy_max, Length: 32992, dtype: bool

Como se puede observar ahora tenemos seleccionadas aquellas columnas que cumplen nuestra condición. ¿Y si lo ponemos directamente dentro del dataset cuando seleccionamos solo una part?

In [30]:
londres[londres['energy_max']>1]

,LCLid,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
day,,,,,,,,
2011-12-14,MAC000113,1.0910,1.065250,1.674,28,0.305397,29.827,0.262
2011-12-15,MAC000113,0.3710,0.546521,1.434,48,0.410120,26.233,0.119
2011-12-16,MAC000113,0.3205,0.534708,2.034,48,0.464431,25.666,0.129
2011-12-17,MAC000113,0.2570,0.421500,1.068,48,0.274387,20.232,0.115
2011-12-18,MAC000113,0.3985,0.565333,2.218,48,0.450712,27.136,0.134
...,...,...,...,...,...,...,...,...
2013-12-16,MAC005416,0.0580,0.162667,1.321,48,0.229688,7.808,0.040
2014-01-19,MAC005416,0.1470,0.210563,1.246,48,0.213489,10.107,0.048
2014-01-23,MAC005416,0.1665,0.207833,1.065,48,0.197093,9.976,0.048
2014-02-13,MAC005416,0.0910,0.134500,1.027,48,0.149564,6.456,0.057
2014-02-22,MAC005416,0.1070,0.260750,1.544,48,0.325023,12.516,0.046

### Ejercicio

Obtener un cuadro resumen de los parámetros para el contador con ID 'MAC000113'

In [35]:
# vuestro codigo aquí!

### 10.5 Funciones básicas interesantes

Aquí poeis ver una lista de las funciones más interesantes a mirar en la documentación, con algun ejemplo:

| Función   | Descripción | 
|-----------|-------------|
| count()   |Número de observaciones non-null|  
| sum()     |Suma de valores|
| mean()    |Media de las observaciones            | 
| median()  |Mediana de las observaciones             |
| min()     |Valor mínimo|
| max()     |Valor máximo|
| std()     |Desviación standard|
| var()     | Varianza|
| value_counts()     | Valores unicos en cada columna - tabla de frec|
| nunique()          | Número de valores distintos|
| isnull()     | Máscara de valores null o Nan|

Practicad con alguno de estos parámetros

In [38]:
# vuestro código aquí!

# Valor total de energia para el Id 'MAC000113'

# ¿Cuántos contadores distintos hay?

# ¿Cómo se llaman?

# ¿Cuál fue el valor máximo de energía en dia 15 de Mayo de 2013?

### 10.6 Manipular dataframes

Se puede aplicar una función a alguna columna usando el método *apply* y recordando las fuciones lambda!

In [43]:
londres['energy_var'] = londres['energy_std'].apply(lambda x: x**2)
londres.head()

,LCLid,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,energy_var
day,,,,,,,,,
2011-12-14,MAC000113,1.0910,1.065250,1.674,28,0.305397,29.827,0.262,0.093268
2011-12-15,MAC000113,0.3710,0.546521,1.434,48,0.410120,26.233,0.119,0.168199
2011-12-16,MAC000113,0.3205,0.534708,2.034,48,0.464431,25.666,0.129,0.215696
2011-12-17,MAC000113,0.2570,0.421500,1.068,48,0.274387,20.232,0.115,0.075288
2011-12-18,MAC000113,0.3985,0.565333,2.218,48,0.450712,27.136,0.134,0.203141

#### Ejercicio

Crea una columna nueva llamada 'ID' con solo las últimas 6 cifras de 'LCLid'

In [45]:
# vuestro código aquí!

### 10.7 Ordenar

Si se desea ordenar valores, se puede usar ``sort_values``. Con un ejemplo se entenderá mejor:

In [46]:
londres.sort_values(by='energy_max', ascending= False, inplace=True)
londres.head()

,LCLid,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,energy_var
day,,,,,,,,,
2013-03-09,MAC002510,0.7800,0.752292,6.897,48,1.067885,36.110,0.020,1.140378
2012-11-24,MAC002510,0.1570,0.465229,6.816,48,1.047584,22.331,0.020,1.097433
2013-03-24,MAC002510,0.9325,0.933542,6.428,48,1.104101,44.810,0.023,1.219039
2012-11-29,MAC002510,0.0215,0.371896,6.357,48,0.994860,17.851,0.019,0.989746
2013-07-15,MAC002510,0.0505,0.262250,6.297,48,0.918086,12.588,0.020,0.842882

### 10.8 Agrupar

Por último, una función muy útil es la de agrupar (group_by).

Por ejemplo, imagina que quieres agrupar todos los datos por número de contador y sacar algun parámetro de este contador (máximo, mínimo, etc.).

El resultado de esta operación, será otro dataframe con los datos agrupados respeto a una variable. Además también se deberá indicar qué función de *agregación* se desea usar (max, min, mean, count, sum, etc.).

Vamos a implementar el ejemplo comentado!

In [50]:
contadores = londres[['LCLid','energy_max', 'energy_min', 'energy_sum']].groupby('LCLid').mean()
contadores

           energy_max  energy_min  energy_sum
LCLid
MAC000113    1.460573    0.157256   24.656976
MAC000301    1.085894    0.027124    9.521648
MAC000309    1.997796    0.077452   19.015297
MAC002509    0.628286    0.051095    7.462581
MAC002510    2.144932    0.027697   12.070756
MAC002512    1.556296    0.121689   18.047101
MAC002513    0.806083    0.016887    4.796607
MAC002514    0.806902    0.033100    7.510262
MAC002517    1.050635    0.044790   11.447748
MAC002518    0.364883    0.032975    6.818670
MAC002519    1.588482    0.000963    9.773552
MAC002522    0.436370    0.015723    3.538223
MAC002525    0.587890    0.019342    6.972477
MAC002530    0.346048    0.012953    2.265823
MAC002539    0.501443    0.019163    4.140757
MAC002557    1.899431    0.052448   17.316634
MAC002558    1.397640    0.074950   18.288385
MAC002605    1.446267    0.089793   18.961491
MAC002662    0.690017    0.041542    7.695944
MAC002663    0.971458    0.131946   12.543782
MAC002666    0.774343    0.297817   19.901081
MAC002676    0.520772    0.026584    4.691760
MAC002702    0.827445    0.097226   14.933050
MAC002750    0.428297    0.011065    2.618379
MAC002754    0.996767    0.099409   16.350230
MAC002756    0.596933    0.035185    5.403261
MAC002757    1.588205    0.133736   20.682476
MAC002761    0.075495    0.010529    1.315838
MAC002764    0.968770    0.026533    5.384741
MAC002767    0.433853    0.017302    4.023435
MAC005269    0.861452    0.132849   14.282239
MAC005270    1.064200    0.088105   12.479217
MAC005274    0.879979    0.057647   10.069941
MAC005313    0.179228    0.000048    0.641708
MAC005317    0.488887    0.015980    4.138487
MAC005319    0.233613    0.039129    3.725454
MAC005322    1.293955    0.167729   20.750712
MAC005331    0.693208    0.063788    9.420459
MAC005367    0.856483    0.041828    9.006939
MAC005392    0.544100    0.062461    9.603723
MAC005400    0.591874    0.013898    5.452640
MAC005403    0.990794    0.011112    8.628782
MAC005404    1.273344    0.119261   19.338910
MAC005405    0.228274    0.011490    2.099607
MAC005407    1.248414    0.126545   19.557321
MAC005408    0.523577    0.042105    6.967649
MAC005411    1.159346    0.129117   20.949463
MAC005412    1.571090    0.178240   25.048747
MAC005415    0.203070    0.017933    3.307807
MAC005416    0.539568    0.046380    6.210063

### 10.9 Otros

Hay muchas más funciones que se pueden usar con Pandas. Os animamos a mirar en su documentación, foros, cheat sheets, cursos,...

https://pandas.pydata.org/pandas-docs/stable/index.html

## 11. Creación de gáficos

# COSES QUE NO SE ON POSAR DE MOMENT

## Data Collections

We need to represent data collections: words in a text, students in a course, experimental data, etc., or to store intermediate results. The most simple data collection is the <code>list</code> (an ordered sequence of objects):

## A program in Python

General Rules:

+ All text from a <code>#</code> simbol to the end of a line are considered as comments.
+ Code must be **indented** and sometimes delineated by colons. The Python standard for indentation is four spaces. Never use tabs: it can produce hard to find errors. Set you editor to convert tabs to spaces.
+ Typically, a statement must be on a line. You can use a backslash <code>\</code> at the end of a line to continue a statement on to the next line.

In [ ]:
# This program computes the factorial of 100.

fact = 1
n= 100
for factor in range(n,0,-1):
    fact = fact * factor 
print(fact)

In [ ]:
list(range(10,0,-1))

<div class="alert alert-error"> When we write a colon at the end of an iteration, all lines indented at the next level are considered *part* of the iteration. 

When we write a line at the same indentation as the iteration, we are closing the iteration.</div>

## References

We can inspect the reference of an object:

In [ ]:
a ='hello'
print(id(a))

Two different objects:

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(id(a), id(b))
print (a is b)
print (a == b)

Object alias:

In [ ]:
a = [1,2,3]
b = a                     # alias
print(id(a), id(b))

Cloning:

In [ ]:
a = [1,2,3]
b = a[:]                  # cloning with :

print(a, b, b[1:], id(a), id(b), id(b[1:]))

When a list is an argument of a function, we are sending the *reference*, not a *copy*

### Generators

There is a downside to list comprehensions: the entire list has to be stored in memory at once. This isn’t a problem for small lists like the ones in the above examples, or even of lists several orders of magnitude larger. But we can use **<font color="red">generators</font>** to solve this problem.

Generator expressions do not load the whole list into memory at once, but instead create a *generator object* so only one list element has to be loaded at any time.

Generator expressions have the same syntax as list comprehensions, but with parentheses around the outside instead of brackets:

In [ ]:
num = [1, 4, -5, 10, -7, 2, 3, -1]

squared = ( x**2 for x in num if x > 0 )
print(type(squared), squared)

In [ ]:
#The elements of the generator must be accessed by an iterator because they are generated when needed:

lis = []
for item in squared:
    lis = lis + [item]
print(lis)

We can define our own generators with the ``yield`` statesment. For example, let's build a generator for the binary representation of a number between 0 and 1 with arbitrary precision.

In [ ]:
# binary representation of a number between 0 and 1 (b bits precision).

def res(n,b):
    bin_a = '.'
    for i in range(b):
        n *= 2
        bin_a +=  str(int(n))
        n = n % 1
    return bin_a

print(res(1/3.0,10))

In [ ]:
# binary representation of a number between 0 and 1 (precision as needed).

def binRep(n):
    while True:
        n *= 2
        yield int(n)
        n = n % 1


a = binRep(1/3.) 
a_bin = '.'
for i in range(100):
    a_bin +=  str(next(a))
    
print(a_bin)

A more ellegant way of reading a CSV file:
+  Wrap the CSV reader in a function that returns a generator
+  Use context managers ``with [callable] as [name]`` to ensure that the handle to the file is closed automatically.
+  Use the ``csv.DictReader`` class when headers are present (otherwise just use ``csv.reader``)

In [ ]:
import csv

ADV = 'files/Advertising.csv'

def read_data(path):
    with open(path, 'r') as data:
        reader = csv.DictReader(data)
        for row in reader:
            yield row

for idx, row in enumerate(read_data(ADV)):
    if idx < 15: print(row)
    else: break

The file is not opened, read, or parsed until you need it. This is powerful because it means that even for much larger data sets you will have efficient, portable code.

In [ ]:
data = read_data(ADV)
print(data)
for item in data:
    print(item)

## 12. Extras
### 12.1 Functions and objects -> Decorators

In Python, functions are first-class objects. This means that functions can be passed around and used as arguments, just like any other object (string, int, float, list, and so on). Python also allows you to use functions as return values. You can do functions that accept functions as parameters. So decorators are a wrapper for a function, modifying its behavior:

In [ ]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

def say_whee():
    print("Whee!")

say_whee = my_decorator(say_whee) #Overwrite say_whee using the decorator wraper

say_whee()

You can use @ sintax to define a function that will use a decorator:

In [ ]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator ##  say_wee= my_decorator(say_whee)
def say_whee():
    print("Whee!")
    
say_whee()

* Can I decorate with my_decorator functions that have parameters ?

In [ ]:
@my_decorator
def greet(name):
    print(f"Hello {name}")
greet("Eloi")

In [ ]:
def my_decorator(func):
    def wrapper(*args, **kwargs):
        print("Something is happening before the function is called.")
        func(*args, **kwargs)
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def greet(name):
    print(f"Hello {name}")
greet("Eloi")

A list can be passed as a set of parameters to a function using *
A Dictionary can be passed as a set of optional parameters to a function using **

In [ ]:
args= [1,2,3]
kargs = {'d':4}

def f(a,b,c,d=0):
    print(a+b+c+d)
f(*args,**kargs)

## Help: Python Tutorial

In [ ]:
from IPython.display import HTML
HTML('<iframe src=http://docs.python.org/3/tutorial/index.html?useformat=mobile width=780 height=350></iframe>')

In [ ]:
! pip install tqdm #this will not work in Windows

In [ ]:
import tqdm
from time import sleep
text = ""
for char in tqdm.tqdm(range(1000)):
    sleep(0.01)